Switch_Config_Flow.json
[
    {
        "id": "9a64e81f8c4438a5",
        "type": "tab",
        "label": "NodeRed ISDU auto Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e55530813d2d28b7",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "name": "Creates web portal",
        "style": {
            "label": true
        },
        "nodes": [
            "serve-html",
            "html-template",
            "http-response-html"
        ],
        "x": 274,
        "y": 1219,
        "w": 672,
        "h": 82
    },
    {
        "id": "ccaf1de2c9bc82d5",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "name": "Handles file upload",
        "style": {
            "label": true
        },
        "nodes": [
            "18e0af4ed86ee7ed",
            "upload-endpoint",
            "parse-csv",
            "http-response",
            "bb85fd4b444cddfe",
            "2ba164832f9c9a56",
            "e25ea89c1e4a5667",
            "9ce2273916932185",
            "cb9a75227c0975ec",
            "8a4d6a8b69818b28",
            "376068b20cecfb17",
            "22ea7afb790bc2b8",
            "ba8a5ed4ea7d1d8c",
            "d67eb8db06de1657",
            "88c9afc7173b7ec1",
            "868c5ed9dcb27920"
        ],
        "x": 968,
        "y": 1119,
        "w": 1088,
        "h": 748
    },
    {
        "id": "3fb18b659c7c63cb",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "name": "handles log downloads",
        "style": {
            "label": true
        },
        "nodes": [
            "43e7c3fd76b7949c",
            "165ec2aef6b3744d",
            "860199189aea9a27",
            "fcab298eb4dabbbd",
            "712f7c82a57aeb9f"
        ],
        "x": 74,
        "y": 1499,
        "w": 872,
        "h": 242
    },
    {
        "id": "1474efc58349dee3",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "style": {
            "stroke": "#a8a095",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#afa89d"
        },
        "nodes": [
            "c419b797d4fe0222",
            "f6f2187d.f17ca8",
            "c1234567.a89012",
            "e3456789.b12345",
            "b0123456.901234",
            "d4567890.c12345",
            "4240cd32885ee02d",
            "0a767af8d8e0f684",
            "a928ef2200c759e8",
            "2af437e7d59d454e",
            "db0b0a552c4f0dda",
            "3914e7e5cbeb3bc3",
            "aeb5a3e58b59df9e",
            "33784200fcd9927a",
            "5a1ede64ae3d0979",
            "d37bf798d21c7591",
            "1c05ecc1bcf77b73"
        ],
        "x": 314,
        "y": 299,
        "w": 1372,
        "h": 322
    },
    {
        "id": "dcbba05769e022e8",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "style": {
            "stroke": "#a8a095",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#afa89d"
        },
        "nodes": [
            "0a5635ad00de2b88",
            "4f1921f368563598",
            "7f264cd4bc54651f",
            "26246557baba8815"
        ],
        "x": 314,
        "y": 79,
        "w": 852,
        "h": 162
    },
    {
        "id": "be0e9db00ca7d030",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "style": {
            "stroke": "#a8a095",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#afa89d"
        },
        "nodes": [
            "2209a8dd57ea3cec",
            "afccb7d097f948a1",
            "df307fe6126cac77",
            "e69093ef00b5f3a1",
            "62ccd06bd21171e6",
            "62f3679ba144ce48",
            "9231c3b56aa2400a",
            "39dbbf06e3e315e5",
            "632e481198d7f6b3",
            "b866c6987b0323bd",
            "cc9ee19d11d62d88",
            "bbbc621ebd0c8b85",
            "dad67698f74121ae",
            "f2366e71dd91677d",
            "d231c23a72b32e2b"
        ],
        "x": 314,
        "y": 719,
        "w": 1372,
        "h": 282
    },
    {
        "id": "22ea7afb790bc2b8",
        "type": "group",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "Handles log viewing",
        "style": {
            "label": true
        },
        "nodes": [
            "c3a2df649e0e6085",
            "46beb6f818a023c2",
            "11a8f6cde23f2e03",
            "c6a650729f6c1480",
            "093dd7b6e6db1be4",
            "9c0dcc6a1f2726f1",
            "d5c30fd492c25ce4",
            "3ea30f7d0e7ddb03",
            "3cbc00018a49aa26",
            "68d5fdd40b6cb9a3",
            "fca44e83f6c708a0",
            "1502debd4c1d0f63"
        ],
        "x": 994,
        "y": 1539,
        "w": 872,
        "h": 302
    },
    {
        "id": "serve-html",
        "type": "http in",
        "z": "9a64e81f8c4438a5",
        "g": "e55530813d2d28b7",
        "name": "",
        "url": "/upload-form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "html-template"
            ]
        ]
    },
    {
        "id": "html-template",
        "type": "template",
        "z": "9a64e81f8c4438a5",
        "g": "e55530813d2d28b7",
        "name": "HTML Form",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Murrelektronik Node-RED Impact67 Pro Auto Configuration Tool</title>\n    <style>\n        :root {\n            --background-color: #f4f4f4;\n            --border-color: #e5e5e5;\n            --primary-color: #4d9b17;\n            --secondary-color: #6ebe37;\n            --dark-color: #014d0c;\n            --light-text-color: #fff;\n            --medium-text-color: #969696;\n            --dark-text-color: #555;\n            --navigation-sub-selected-border-color: #555;\n            --navigation-sub-selected-text-color: #555;\n            --font-family: 'Calibri', 'Helvetica Neue';\n        }\n\n        body {\n            font-family: var(--font-family);\n            background-color: var(--background-color);\n            margin: 0px;\n        }\n\n        .header {\n            display: flex;\n            align-items: center;\n            /* Center align items vertically */\n            background-color: var(--dark-color);\n            height: 80px;\n            padding: 0;\n            color: var(--light-text-color);\n            width: 100%;\n            justify-content: space-between;\n            /* Ensure space between elements */\n            font-weight: bold;\n            /* Make the header bold */\n            font-size: 1.5rem;\n            /* Increase the font size */\n        }\n\n        .logo-container {\n            padding-left: 10px;\n            /* Add 10px padding to the left */\n            display: flex;\n            align-items: center;\n            /* Center align items vertically */\n        }\n\n        .logo-container svg {\n            width: 80px;\n            height: 80px;\n        }\n\n        #header-title {\n            margin-left: 20px;\n            /* Add 20px margin to the left */\n            display: flex;\n            align-items: center;\n            /* Center align items vertically */\n        }\n\n        .language-button {\n            display: flex;\n            align-items: center;\n            /* Center align items vertically */\n            margin-right: 10px;\n            /* Add 10px margin to the right */\n            background-color: var(--background-color);\n            color: var(--primary-color);\n            border: 2px solid var(--primary-color);\n            border-radius: 4px;\n            cursor: pointer;\n            position: relative;\n            /* Ensure the language menu is positioned relative to the button */\n        }\n\n        .language-menu {\n            display: none;\n            position: absolute;\n            /* Position the menu absolutely */\n            top: 100%;\n            /* Position it below the button */\n            right: 0;\n            /* Align it to the right edge of the button */\n            background-color: var(--background-color);\n            border: 2px solid var(--primary-color);\n            border-radius: 10px;\n            padding: 10px;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n\n\n        .language-menu div {\n            display: flex;\n            align-items: center;\n            padding: 5px 10px;\n            cursor: pointer;\n        }\n\n        .language-menu div svg {\n            width: 16px;\n            /* Adjust size as needed */\n            height: 16px;\n            /* Adjust size as needed */\n            margin-left: 5px;\n            /* Space between text and icon */\n            vertical-align: middle;\n        }\n\n        .language-menu div:hover {\n            background-color: var(--background-color);\n        }\n\n        .language-menu .current {\n            font-weight: bold;\n        }\n\n\n        .language-button i {\n            margin-right: 10px;\n            color: var(--primary-color);\n            font-size: 16px;\n            /* Ensure the globe icon displays correctly */\n        }\n\n        .language-button span {\n            font-weight: bold;\n        }\n\n        @keyframes fadeInOut {\n\n            0%,\n            100% {\n                opacity: 0;\n            }\n\n            10%,\n            90% {\n                opacity: 1;\n            }\n        }\n\n        .language-button span {\n            animation: fadeInOut 3s infinite;\n        }\n\n        .nav-menu-top {\n            display: flex;\n            justify-content: space-around;\n            background-color: var(--primary-color);\n            color: var(--light-text-color);\n        }\n\n        .nav-menu-bottom {\n            display: flex;\n            justify-content: space-around;\n            background-color: var(--secondary-color);\n            color: var(--light-text-color);\n            height: 36px;\n        }\n\n        .nav-option {\n            cursor: pointer;\n            padding: 10px;\n        }\n\n        .nav-option-active {\n            background-color: var(--secondary-color);\n        }\n\n        .nav-option.nav-sub-option.v-link-active {\n            border-bottom: 4px solid var(--navigation-sub-selected-border-color);\n            color: var(--navigation-sub-selected-text-color);\n        }\n\n        .container {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            justify-content: space-between;\n            padding: 20px;\n        }\n\n        .section {\n            background-color: white;\n            padding: 20px;\n            margin: 20px;\n            flex: 1;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n            justify-content: center;\n        }\n\n        .log-files a {\n            display: block;\n            margin: 5px 0;\n            color: var(--primary-color);\n            text-decoration: none;\n        }\n\n        .footer {\n            position: fixed;\n            bottom: 0px;\n            width: 100%;\n            min-height: 50px;\n            background-color: var(--background-color);\n            border-top: 2px solid var(--secondary-color);\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 0 20px;\n        }\n\n        .footer-status,\n        .footer-information {\n            display: flex;\n            align-items: center;\n        }\n\n        .footer-box {\n            margin-left: 20px;\n        }\n\n        .footer-label {\n            font-weight: bold;\n        }\n\n        #upload-section {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            /* Adjust as needed */\n        }\n\n        #csv-upload-list {\n            background-color: #fdfbfb;\n            border: 1px solid var(--border-color);\n            border-collapse: collapse;\n            width: 50%;\n            /* Adjust as needed */\n            margin: auto;\n            /* Center the table */\n        }\n\n        #csv-upload-list caption {\n            background-color: var(--background-color);\n            /* Set the background color */\n            padding: 11px 20px;\n            color: var(--dark-text-color);\n            font-weight: 700;\n            border: 1px solid var(--border-color);\n            /* Add border */\n            border-bottom: none;\n            border-top-left-radius: 4px;\n            border-top-right-radius: 4px;\n            margin-bottom: 0;\n            /* Remove the bottom margin */\n        }\n\n        #csv-upload-list th,\n        #csv-upload-list td {\n            border: 1px solid var(--border-color);\n            /* Ensure borders are visible */\n            padding: 10px;\n            text-align: center;\n        }\n\n        #csv-upload-list th {\n            background-color: #fdfbfb;\n            color: var(--dark-text-color);\n        }\n\n        #logs-section {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            /* Adjust as needed */\n        }\n\n        #log-content-table {\n            background-color: #fdfbfb;\n            border: 1px solid var(--border-color);\n            border-collapse: collapse;\n            width: 80%;\n            /* Adjust as needed */\n            margin: auto;\n            /* Center the table */\n        }\n\n        #log-content-table caption {\n            background-color: var(--background-color);\n            /* Set the background color */\n            padding: 11px 20px;\n            color: var(--dark-text-color);\n            font-weight: 700;\n            border: 1px solid var(--border-color);\n            /* Add border */\n            border-bottom: none;\n            border-top-left-radius: 4px;\n            border-top-right-radius: 4px;\n            margin-bottom: 0;\n            /* Remove the bottom margin */\n        }\n\n        #log-content-table th,\n        #log-content-table td {\n            border: 1px solid var(--border-color);\n            /* Ensure borders are visible */\n            padding: 10px;\n            text-align: center;\n        }\n\n        #log-content-table th {\n            background-color: #fdfbfb;\n            color: var(--dark-text-color);\n        }\n\n        #log-content-table td {\n            vertical-align: top;\n            /* Align content to the top */\n        }\n\n        #fileContent {\n            white-space: pre-wrap;\n            /* Ensure the log content wraps */\n            text-align: left;\n            /* Align text to the left */\n        }\n\n\n        #spinner {\n            display: none;\n            text-align: center;\n        }\n\n        #spinner svg rect {\n            fill: var(--primary-color);\n        }\n    </style>\n</head>\n\n<body>\n    <!-- SVG Sprite -->\n    <svg xmlns=\"http://www.w3.org/2000/svg\" style=\"display: none;\">\n        <symbol id=\"icn-US\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\">\n            <rect x=\"1\" y=\"4\" width=\"30\" height=\"24\" rx=\"4\" ry=\"4\" fill=\"#fff\">\n            </rect>\n            <path d=\"M1.638,5.846H30.362c-.711-1.108-1.947-1.846-3.362-1.846H5c-1.414,0-2.65,.738-3.362,1.846Z\"\n                fill=\"#a62842\">\n            </path>\n            <path d=\"M2.03,7.692c-.008,.103-.03,.202-.03,.308v1.539H31v-1.539c0-.105-.022-.204-.03-.308H2.03Z\"\n                fill=\"#a62842\">\n            </path>\n            <path fill=\"#a62842\" d=\"M2 11.385H31V13.231H2z\">\n            </path>\n            <path fill=\"#a62842\" d=\"M2 15.077H31V16.923000000000002H2z\">\n            </path>\n            <path fill=\"#a62842\" d=\"M1 18.769H31V20.615H1z\">\n            </path>\n            <path d=\"M1,24c0,.105,.023,.204,.031,.308H30.969c.008-.103,.031-.202,.031-.308v-1.539H1v1.539Z\"\n                fill=\"#a62842\">\n            </path>\n            <path d=\"M30.362,26.154H1.638c.711,1.108,1.947,1.846,3.362,1.846H27c1.414,0,2.65-.738,3.362-1.846Z\"\n                fill=\"#a62842\">\n            </path>\n            <path d=\"M5,4h11v12.923H1V8c0-2.208,1.792-4,4-4Z\" fill=\"#102d5e\">\n            </path>\n            <path\n                d=\"M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z\"\n                opacity=\".15\">\n            </path>\n            <path d=\"M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z\"\n                fill=\"#fff\" opacity=\".2\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M4.601 7.463L5.193 7.033 4.462 7.033 4.236 6.338 4.01 7.033 3.279 7.033 3.87 7.463 3.644 8.158 4.236 7.729 4.827 8.158 4.601 7.463z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M7.58 7.463L8.172 7.033 7.441 7.033 7.215 6.338 6.989 7.033 6.258 7.033 6.849 7.463 6.623 8.158 7.215 7.729 7.806 8.158 7.58 7.463z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M10.56 7.463L11.151 7.033 10.42 7.033 10.194 6.338 9.968 7.033 9.237 7.033 9.828 7.463 9.603 8.158 10.194 7.729 10.785 8.158 10.56 7.463z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M6.066 9.283L6.658 8.854 5.927 8.854 5.701 8.158 5.475 8.854 4.744 8.854 5.335 9.283 5.109 9.979 5.701 9.549 6.292 9.979 6.066 9.283z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M9.046 9.283L9.637 8.854 8.906 8.854 8.68 8.158 8.454 8.854 7.723 8.854 8.314 9.283 8.089 9.979 8.68 9.549 9.271 9.979 9.046 9.283z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M12.025 9.283L12.616 8.854 11.885 8.854 11.659 8.158 11.433 8.854 10.702 8.854 11.294 9.283 11.068 9.979 11.659 9.549 12.251 9.979 12.025 9.283z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M6.066 12.924L6.658 12.494 5.927 12.494 5.701 11.799 5.475 12.494 4.744 12.494 5.335 12.924 5.109 13.619 5.701 13.19 6.292 13.619 6.066 12.924z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M9.046 12.924L9.637 12.494 8.906 12.494 8.68 11.799 8.454 12.494 7.723 12.494 8.314 12.924 8.089 13.619 8.68 13.19 9.271 13.619 9.046 12.924z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M12.025 12.924L12.616 12.494 11.885 12.494 11.659 11.799 11.433 12.494 10.702 12.494 11.294 12.924 11.068 13.619 11.659 13.19 12.251 13.619 12.025 12.924z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M13.539 7.463L14.13 7.033 13.399 7.033 13.173 6.338 12.947 7.033 12.216 7.033 12.808 7.463 12.582 8.158 13.173 7.729 13.765 8.158 13.539 7.463z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M4.601 11.104L5.193 10.674 4.462 10.674 4.236 9.979 4.01 10.674 3.279 10.674 3.87 11.104 3.644 11.799 4.236 11.369 4.827 11.799 4.601 11.104z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M7.58 11.104L8.172 10.674 7.441 10.674 7.215 9.979 6.989 10.674 6.258 10.674 6.849 11.104 6.623 11.799 7.215 11.369 7.806 11.799 7.58 11.104z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M10.56 11.104L11.151 10.674 10.42 10.674 10.194 9.979 9.968 10.674 9.237 10.674 9.828 11.104 9.603 11.799 10.194 11.369 10.785 11.799 10.56 11.104z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M13.539 11.104L14.13 10.674 13.399 10.674 13.173 9.979 12.947 10.674 12.216 10.674 12.808 11.104 12.582 11.799 13.173 11.369 13.765 11.799 13.539 11.104z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M4.601 14.744L5.193 14.315 4.462 14.315 4.236 13.619 4.01 14.315 3.279 14.315 3.87 14.744 3.644 15.44 4.236 15.01 4.827 15.44 4.601 14.744z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M7.58 14.744L8.172 14.315 7.441 14.315 7.215 13.619 6.989 14.315 6.258 14.315 6.849 14.744 6.623 15.44 7.215 15.01 7.806 15.44 7.58 14.744z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M10.56 14.744L11.151 14.315 10.42 14.315 10.194 13.619 9.968 14.315 9.237 14.315 9.828 14.744 9.603 15.44 10.194 15.01 10.785 15.44 10.56 14.744z\">\n            </path>\n            <path fill=\"#fff\"\n                d=\"M13.539 14.744L14.13 14.315 13.399 14.315 13.173 13.619 12.947 14.315 12.216 14.315 12.808 14.744 12.582 15.44 13.173 15.01 13.765 15.44 13.539 14.744z\">\n            </path>\n        </symbol>\n        <symbol id=\"icn-PT\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\">\n            <rect x=\"1\" y=\"4\" width=\"30\" height=\"24\" rx=\"4\" ry=\"4\" fill=\"#459a45\">\n            </rect>\n            <path\n                d=\"M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z\"\n                opacity=\".15\">\n            </path>\n            <path d=\"M3.472,16l12.528,8,12.528-8-12.528-8L3.472,16Z\" fill=\"#fedf00\">\n            </path>\n            <circle cx=\"16\" cy=\"16\" r=\"5\" fill=\"#0a2172\">\n            </circle>\n            <path\n                d=\"M14,14.5c-.997,0-1.958,.149-2.873,.409-.078,.35-.126,.71-.127,1.083,.944-.315,1.951-.493,2.999-.493,2.524,0,4.816,.996,6.519,2.608,.152-.326,.276-.666,.356-1.026-1.844-1.604-4.245-2.583-6.875-2.583Z\"\n                fill=\"#fff\">\n            </path>\n            <path d=\"M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z\"\n                fill=\"#fff\" opacity=\".2\">\n            </path>\n        </symbol>\n        <symbol id=\"icn-DE\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\">\n            <path fill=\"#cc2b1d\" d=\"M1 11H31V21H1z\">\n            </path>\n            <path d=\"M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z\">\n            </path>\n            <path d=\"M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z\" transform=\"rotate(180 16 24)\"\n                fill=\"#f8d147\">\n            </path>\n            <path\n                d=\"M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z\"\n                opacity=\".15\">\n            </path>\n            <path d=\"M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z\"\n                fill=\"#fff\" opacity=\".2\">\n            </path>\n        </symbol>\n        <symbol id=\"icn-ZH\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\">\n            <rect x=\"1\" y=\"4\" width=\"30\" height=\"24\" rx=\"4\" ry=\"4\" fill=\"#db362f\">\n            </rect>\n            <path\n                d=\"M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z\"\n                opacity=\".15\">\n            </path>\n            <path fill=\"#ff0\"\n                d=\"M7.958 10.152L7.19 7.786 6.421 10.152 3.934 10.152 5.946 11.614 5.177 13.979 7.19 12.517 9.202 13.979 8.433 11.614 10.446 10.152 7.958 10.152z\">\n            </path>\n            <path fill=\"#ff0\"\n                d=\"M12.725 8.187L13.152 8.898 13.224 8.072 14.032 7.886 13.269 7.562 13.342 6.736 12.798 7.361 12.035 7.037 12.461 7.748 11.917 8.373 12.725 8.187z\">\n            </path>\n            <path fill=\"#ff0\"\n                d=\"M14.865 10.372L14.982 11.193 15.37 10.46 16.187 10.602 15.61 10.007 15.997 9.274 15.253 9.639 14.675 9.044 14.793 9.865 14.048 10.23 14.865 10.372z\">\n            </path>\n            <path fill=\"#ff0\"\n                d=\"M15.597 13.612L16.25 13.101 15.421 13.13 15.137 12.352 14.909 13.149 14.081 13.179 14.769 13.642 14.541 14.439 15.194 13.928 15.881 14.391 15.597 13.612z\">\n            </path>\n            <path fill=\"#ff0\"\n                d=\"M13.26 15.535L13.298 14.707 12.78 15.354 12.005 15.062 12.46 15.754 11.942 16.402 12.742 16.182 13.198 16.875 13.236 16.047 14.036 15.827 13.26 15.535z\">\n            </path>\n            <path d=\"M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z\"\n                fill=\"#fff\" opacity=\".2\">\n            </path>\n        </symbol>\n        <symbol id=\"icn-IT\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\">\n            <path fill=\"#fff\" d=\"M10 4H22V28H10z\">\n            </path>\n            <path d=\"M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z\" fill=\"#41914d\">\n            </path>\n            <path d=\"M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z\" transform=\"rotate(180 26 16)\"\n                fill=\"#bf393b\">\n            </path>\n            <path\n                d=\"M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z\"\n                opacity=\".15\">\n            </path>\n            <path d=\"M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z\"\n                fill=\"#fff\" opacity=\".2\">\n            </path>\n        </symbol>\n        <symbol id=\"icn-globe\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\">\n            <path d=\"M 16 0 C 18.903 0 21.58 0.715 24.031 2.146 C 26.483 3.576 28.424 5.517 29.854 7.969 C 31.285 10.42 32 13.097 32 16 C 32 18.903 31.285 21.58 29.854 24.031 C 28.424 26.483 26.483 28.424 24.031 29.854 C 21.58 31.285 18.903 32 16 32 C 13.097 32 10.42 31.285 7.969 29.854 C 5.517 28.424 3.576 26.483 2.146 24.031 C 0.715 21.58 0 18.903 0 16 C 0 13.097 0.715 10.42 2.146 7.969 C 3.576 5.517 5.517 3.576 7.969 2.146 C 10.42 0.715 13.097 0 16 0 Z M 21.708 10.854 C 21.681 10.868 21.615 10.934 21.51 11.052 C 21.406 11.17 21.313 11.236 21.229 11.25 C 21.257 11.25 21.288 11.215 21.323 11.146 C 21.358 11.076 21.392 11 21.427 10.917 C 21.462 10.833 21.486 10.785 21.5 10.771 C 21.583 10.674 21.736 10.569 21.958 10.458 C 22.153 10.375 22.514 10.292 23.042 10.208 C 23.514 10.097 23.868 10.174 24.104 10.437 C 24.076 10.41 24.142 10.319 24.302 10.167 C 24.462 10.014 24.563 9.931 24.604 9.917 C 24.646 9.889 24.75 9.858 24.917 9.823 C 25.083 9.788 25.188 9.736 25.229 9.667 L 25.271 9.208 C 25.104 9.222 24.983 9.174 24.906 9.062 C 24.83 8.951 24.785 8.806 24.771 8.625 C 24.771 8.653 24.729 8.708 24.646 8.792 C 24.646 8.694 24.615 8.639 24.552 8.625 C 24.49 8.611 24.41 8.618 24.313 8.646 C 24.215 8.674 24.153 8.681 24.125 8.667 C 23.986 8.625 23.882 8.573 23.812 8.51 C 23.743 8.448 23.687 8.333 23.646 8.167 C 23.604 8 23.576 7.896 23.563 7.854 C 23.535 7.785 23.469 7.708 23.365 7.625 C 23.26 7.542 23.194 7.472 23.167 7.417 C 23.153 7.389 23.135 7.351 23.115 7.302 C 23.094 7.253 23.073 7.208 23.052 7.167 C 23.031 7.125 23.004 7.087 22.969 7.052 C 22.934 7.017 22.896 7 22.854 7 C 22.812 7 22.764 7.035 22.708 7.104 C 22.653 7.174 22.601 7.243 22.552 7.313 C 22.503 7.382 22.472 7.417 22.458 7.417 C 22.417 7.389 22.375 7.379 22.333 7.385 C 22.292 7.392 22.26 7.399 22.24 7.406 C 22.219 7.413 22.188 7.434 22.146 7.469 C 22.104 7.503 22.069 7.528 22.042 7.542 C 22 7.569 21.941 7.59 21.865 7.604 C 21.788 7.618 21.729 7.632 21.687 7.646 C 21.896 7.576 21.889 7.5 21.667 7.417 C 21.528 7.361 21.417 7.34 21.333 7.354 C 21.458 7.299 21.51 7.215 21.49 7.104 C 21.469 6.993 21.41 6.896 21.313 6.812 L 21.417 6.812 C 21.403 6.757 21.344 6.698 21.24 6.635 C 21.135 6.573 21.014 6.514 20.875 6.458 C 20.736 6.403 20.646 6.361 20.604 6.333 C 20.493 6.264 20.257 6.198 19.896 6.135 C 19.535 6.073 19.306 6.069 19.208 6.125 C 19.139 6.208 19.108 6.281 19.115 6.344 C 19.122 6.406 19.149 6.503 19.198 6.635 C 19.246 6.767 19.271 6.854 19.271 6.896 C 19.285 6.979 19.246 7.069 19.156 7.167 C 19.066 7.264 19.021 7.347 19.021 7.417 C 19.021 7.514 19.118 7.621 19.313 7.74 C 19.507 7.858 19.576 8.007 19.521 8.188 C 19.479 8.299 19.368 8.41 19.188 8.521 C 19.007 8.632 18.896 8.715 18.854 8.771 C 18.785 8.882 18.774 9.01 18.823 9.156 C 18.871 9.302 18.944 9.417 19.042 9.5 C 19.069 9.528 19.08 9.556 19.073 9.583 C 19.066 9.611 19.042 9.642 19 9.677 C 18.958 9.712 18.92 9.74 18.885 9.76 C 18.851 9.781 18.806 9.806 18.75 9.833 L 18.687 9.875 C 18.535 9.944 18.392 9.903 18.26 9.75 C 18.129 9.597 18.035 9.417 17.979 9.208 C 17.882 8.861 17.771 8.653 17.646 8.583 C 17.326 8.472 17.125 8.479 17.042 8.604 C 16.972 8.424 16.687 8.243 16.188 8.062 C 15.84 7.938 15.437 7.91 14.979 7.979 C 15.062 7.965 15.062 7.861 14.979 7.667 C 14.882 7.458 14.75 7.375 14.583 7.417 C 14.625 7.333 14.653 7.212 14.667 7.052 C 14.681 6.892 14.687 6.799 14.687 6.771 C 14.729 6.59 14.812 6.431 14.938 6.292 C 14.951 6.278 15 6.219 15.083 6.115 C 15.167 6.01 15.233 5.917 15.281 5.833 C 15.33 5.75 15.333 5.708 15.292 5.708 C 15.778 5.764 16.125 5.687 16.333 5.479 C 16.403 5.41 16.483 5.292 16.573 5.125 C 16.663 4.958 16.736 4.84 16.792 4.771 C 16.917 4.687 17.014 4.649 17.083 4.656 C 17.153 4.663 17.253 4.701 17.385 4.771 C 17.517 4.84 17.618 4.875 17.687 4.875 C 17.882 4.889 17.99 4.812 18.01 4.646 C 18.031 4.479 17.979 4.34 17.854 4.229 C 18.021 4.243 18.042 4.125 17.917 3.875 C 17.861 3.778 17.806 3.715 17.75 3.687 C 17.583 3.632 17.396 3.667 17.188 3.792 C 17.076 3.847 17.09 3.903 17.229 3.958 C 17.215 3.944 17.149 4.017 17.031 4.177 C 16.913 4.337 16.799 4.458 16.687 4.542 C 16.576 4.625 16.465 4.59 16.354 4.437 C 16.34 4.424 16.302 4.33 16.24 4.156 C 16.177 3.983 16.111 3.889 16.042 3.875 C 15.931 3.875 15.819 3.979 15.708 4.188 C 15.75 4.076 15.674 3.972 15.479 3.875 C 15.285 3.778 15.118 3.722 14.979 3.708 C 15.243 3.542 15.188 3.354 14.812 3.146 C 14.715 3.09 14.573 3.056 14.385 3.042 C 14.198 3.028 14.062 3.056 13.979 3.125 C 13.91 3.222 13.871 3.302 13.865 3.365 C 13.858 3.427 13.892 3.483 13.969 3.531 C 14.045 3.58 14.118 3.618 14.188 3.646 C 14.257 3.674 14.337 3.701 14.427 3.729 C 14.517 3.757 14.576 3.778 14.604 3.792 C 14.799 3.931 14.854 4.028 14.771 4.083 C 14.743 4.097 14.684 4.122 14.594 4.156 C 14.503 4.191 14.424 4.222 14.354 4.25 C 14.285 4.278 14.243 4.306 14.229 4.333 C 14.188 4.389 14.188 4.486 14.229 4.625 C 14.271 4.764 14.257 4.861 14.188 4.917 C 14.118 4.847 14.056 4.726 14 4.552 C 13.944 4.379 13.896 4.264 13.854 4.208 C 13.951 4.333 13.778 4.375 13.333 4.333 L 13.125 4.313 C 13.069 4.313 12.958 4.326 12.792 4.354 C 12.625 4.382 12.483 4.389 12.365 4.375 C 12.246 4.361 12.153 4.306 12.083 4.208 C 12.028 4.097 12.028 3.958 12.083 3.792 C 12.097 3.736 12.125 3.722 12.167 3.75 C 12.111 3.708 12.035 3.642 11.938 3.552 C 11.84 3.462 11.771 3.403 11.729 3.375 C 11.09 3.583 10.437 3.868 9.771 4.229 C 9.854 4.243 9.938 4.236 10.021 4.208 C 10.09 4.181 10.181 4.135 10.292 4.073 C 10.403 4.01 10.472 3.972 10.5 3.958 C 10.972 3.764 11.264 3.715 11.375 3.812 L 11.479 3.708 C 11.674 3.931 11.812 4.104 11.896 4.229 C 11.799 4.174 11.59 4.167 11.271 4.208 C 10.993 4.292 10.84 4.375 10.812 4.458 C 10.91 4.625 10.944 4.75 10.917 4.833 C 10.861 4.792 10.781 4.722 10.677 4.625 C 10.573 4.528 10.472 4.451 10.375 4.396 C 10.278 4.34 10.174 4.306 10.062 4.292 C 9.84 4.292 9.687 4.299 9.604 4.313 C 7.576 5.424 5.944 6.965 4.708 8.938 C 4.806 9.035 4.889 9.09 4.958 9.104 C 5.014 9.118 5.049 9.181 5.062 9.292 C 5.076 9.403 5.094 9.479 5.115 9.521 C 5.135 9.563 5.215 9.542 5.354 9.458 C 5.479 9.569 5.5 9.701 5.417 9.854 C 5.431 9.84 5.736 10.028 6.333 10.417 C 6.597 10.653 6.743 10.799 6.771 10.854 C 6.812 11.007 6.743 11.132 6.563 11.229 C 6.549 11.201 6.486 11.139 6.375 11.042 C 6.264 10.944 6.201 10.917 6.188 10.958 C 6.146 11.028 6.149 11.156 6.198 11.344 C 6.246 11.531 6.319 11.618 6.417 11.604 C 6.319 11.604 6.253 11.715 6.219 11.938 C 6.184 12.16 6.167 12.406 6.167 12.677 C 6.167 12.948 6.16 13.111 6.146 13.167 L 6.188 13.188 C 6.146 13.354 6.184 13.594 6.302 13.906 C 6.42 14.219 6.569 14.354 6.75 14.313 C 6.569 14.354 6.708 14.653 7.167 15.208 C 7.25 15.319 7.306 15.382 7.333 15.396 C 7.375 15.424 7.458 15.476 7.583 15.552 C 7.708 15.628 7.812 15.698 7.896 15.76 C 7.979 15.823 8.049 15.896 8.104 15.979 C 8.16 16.049 8.229 16.205 8.313 16.448 C 8.396 16.691 8.493 16.854 8.604 16.938 C 8.576 17.021 8.642 17.16 8.802 17.354 C 8.962 17.549 9.035 17.708 9.021 17.833 C 9.007 17.833 8.99 17.84 8.969 17.854 C 8.948 17.868 8.931 17.875 8.917 17.875 C 8.958 17.972 9.066 18.069 9.24 18.167 C 9.413 18.264 9.521 18.354 9.563 18.437 C 9.576 18.479 9.59 18.549 9.604 18.646 C 9.618 18.743 9.639 18.819 9.667 18.875 C 9.694 18.931 9.75 18.944 9.833 18.917 C 9.861 18.639 9.694 18.208 9.333 17.625 C 9.125 17.278 9.007 17.076 8.979 17.021 C 8.938 16.951 8.899 16.844 8.865 16.698 C 8.83 16.552 8.799 16.451 8.771 16.396 C 8.799 16.396 8.84 16.406 8.896 16.427 C 8.951 16.448 9.01 16.472 9.073 16.5 C 9.135 16.528 9.188 16.556 9.229 16.583 C 9.271 16.611 9.285 16.632 9.271 16.646 C 9.229 16.743 9.243 16.865 9.313 17.01 C 9.382 17.156 9.465 17.285 9.563 17.396 C 9.66 17.507 9.778 17.639 9.917 17.792 C 10.056 17.944 10.139 18.035 10.167 18.062 C 10.25 18.146 10.347 18.281 10.458 18.469 C 10.569 18.656 10.569 18.75 10.458 18.75 C 10.583 18.75 10.722 18.823 10.875 18.969 C 11.028 19.115 11.146 19.25 11.229 19.375 C 11.299 19.486 11.354 19.667 11.396 19.917 C 11.437 20.167 11.472 20.333 11.5 20.417 C 11.528 20.514 11.587 20.608 11.677 20.698 C 11.767 20.788 11.854 20.854 11.938 20.896 L 12.271 21.062 C 12.271 21.062 12.361 21.111 12.542 21.208 C 12.611 21.236 12.74 21.309 12.927 21.427 C 13.115 21.545 13.264 21.625 13.375 21.667 C 13.514 21.722 13.625 21.75 13.708 21.75 C 13.792 21.75 13.892 21.733 14.01 21.698 C 14.129 21.663 14.222 21.639 14.292 21.625 C 14.5 21.597 14.701 21.701 14.896 21.938 C 15.09 22.174 15.236 22.319 15.333 22.375 C 15.833 22.639 16.215 22.715 16.479 22.604 C 16.451 22.618 16.455 22.67 16.49 22.76 C 16.524 22.851 16.58 22.958 16.656 23.083 C 16.733 23.208 16.795 23.309 16.844 23.385 C 16.892 23.462 16.931 23.521 16.958 23.563 C 17.028 23.646 17.153 23.75 17.333 23.875 C 17.514 24 17.639 24.104 17.708 24.188 C 17.792 24.132 17.84 24.069 17.854 24 C 17.812 24.111 17.861 24.25 18 24.417 C 18.139 24.583 18.264 24.653 18.375 24.625 C 18.569 24.583 18.667 24.361 18.667 23.958 C 18.236 24.167 17.896 24.042 17.646 23.583 C 17.646 23.569 17.628 23.531 17.594 23.469 C 17.559 23.406 17.531 23.347 17.51 23.292 C 17.49 23.236 17.472 23.177 17.458 23.115 C 17.444 23.052 17.444 23 17.458 22.958 C 17.472 22.917 17.507 22.896 17.563 22.896 C 17.687 22.896 17.757 22.871 17.771 22.823 C 17.785 22.774 17.771 22.687 17.729 22.563 C 17.687 22.437 17.66 22.347 17.646 22.292 C 17.632 22.181 17.556 22.042 17.417 21.875 C 17.278 21.708 17.194 21.604 17.167 21.563 C 17.097 21.687 16.986 21.743 16.833 21.729 C 16.681 21.715 16.569 21.653 16.5 21.542 C 16.5 21.556 16.49 21.594 16.469 21.656 C 16.448 21.719 16.437 21.764 16.437 21.792 C 16.257 21.792 16.153 21.785 16.125 21.771 C 16.139 21.729 16.156 21.608 16.177 21.406 C 16.198 21.205 16.222 21.049 16.25 20.938 C 16.264 20.882 16.302 20.799 16.365 20.687 C 16.427 20.576 16.479 20.476 16.521 20.385 C 16.563 20.295 16.59 20.208 16.604 20.125 C 16.618 20.042 16.587 19.976 16.51 19.927 C 16.434 19.878 16.313 19.861 16.146 19.875 C 15.882 19.889 15.701 20.028 15.604 20.292 C 15.59 20.333 15.569 20.406 15.542 20.51 C 15.514 20.615 15.479 20.694 15.437 20.75 C 15.396 20.806 15.333 20.854 15.25 20.896 C 15.153 20.938 14.986 20.951 14.75 20.938 C 14.514 20.924 14.347 20.889 14.25 20.833 C 14.069 20.722 13.913 20.521 13.781 20.229 C 13.649 19.938 13.583 19.681 13.583 19.458 C 13.583 19.319 13.601 19.135 13.635 18.906 C 13.67 18.677 13.691 18.503 13.698 18.385 C 13.705 18.267 13.667 18.097 13.583 17.875 C 13.625 17.847 13.687 17.781 13.771 17.677 C 13.854 17.573 13.924 17.5 13.979 17.458 C 14.007 17.444 14.038 17.434 14.073 17.427 C 14.108 17.42 14.139 17.42 14.167 17.427 C 14.194 17.434 14.222 17.424 14.25 17.396 C 14.278 17.368 14.299 17.326 14.313 17.271 C 14.299 17.257 14.271 17.236 14.229 17.208 C 14.188 17.167 14.16 17.146 14.146 17.146 C 14.243 17.188 14.441 17.177 14.74 17.115 C 15.038 17.052 15.229 17.062 15.313 17.146 C 15.521 17.299 15.674 17.285 15.771 17.104 C 15.771 17.09 15.754 17.024 15.719 16.906 C 15.684 16.788 15.681 16.694 15.708 16.625 C 15.778 17 15.979 17.062 16.313 16.812 C 16.354 16.854 16.462 16.889 16.635 16.917 C 16.809 16.944 16.931 16.979 17 17.021 C 17.042 17.049 17.09 17.087 17.146 17.135 C 17.201 17.184 17.24 17.215 17.26 17.229 C 17.281 17.243 17.316 17.24 17.365 17.219 C 17.413 17.198 17.472 17.153 17.542 17.083 C 17.681 17.278 17.764 17.444 17.792 17.583 C 17.944 18.139 18.076 18.444 18.188 18.5 C 18.285 18.542 18.361 18.556 18.417 18.542 C 18.472 18.528 18.503 18.462 18.51 18.344 C 18.517 18.226 18.517 18.129 18.51 18.052 C 18.503 17.976 18.493 17.889 18.479 17.792 L 18.458 17.625 L 18.458 17.25 L 18.437 17.083 C 18.229 17.042 18.101 16.958 18.052 16.833 C 18.004 16.708 18.014 16.58 18.083 16.448 C 18.153 16.316 18.257 16.188 18.396 16.062 C 18.41 16.049 18.465 16.024 18.563 15.99 C 18.66 15.955 18.767 15.91 18.885 15.854 C 19.004 15.799 19.09 15.743 19.146 15.687 C 19.437 15.424 19.542 15.181 19.458 14.958 C 19.556 14.958 19.632 14.896 19.687 14.771 C 19.674 14.771 19.639 14.75 19.583 14.708 C 19.528 14.667 19.476 14.632 19.427 14.604 C 19.379 14.576 19.347 14.563 19.333 14.563 C 19.458 14.493 19.472 14.382 19.375 14.229 C 19.444 14.188 19.497 14.111 19.531 14 C 19.566 13.889 19.618 13.819 19.687 13.792 C 19.812 13.958 19.958 13.972 20.125 13.833 C 20.236 13.722 20.243 13.611 20.146 13.5 C 20.215 13.403 20.358 13.33 20.573 13.281 C 20.788 13.233 20.917 13.167 20.958 13.083 C 21.056 13.111 21.111 13.097 21.125 13.042 C 21.139 12.986 21.146 12.903 21.146 12.792 C 21.146 12.681 21.167 12.597 21.208 12.542 C 21.264 12.472 21.368 12.41 21.521 12.354 C 21.674 12.299 21.764 12.264 21.792 12.25 L 22.146 12.021 C 22.188 11.965 22.188 11.938 22.146 11.938 C 22.396 11.965 22.611 11.889 22.792 11.708 C 22.931 11.556 22.889 11.417 22.667 11.292 C 22.708 11.208 22.687 11.142 22.604 11.094 C 22.521 11.045 22.417 11.007 22.292 10.979 C 22.333 10.965 22.413 10.962 22.531 10.969 C 22.649 10.976 22.722 10.965 22.75 10.938 C 22.958 10.799 22.91 10.687 22.604 10.604 C 22.368 10.535 22.069 10.618 21.708 10.854 Z M 18.313 29.125 C 21.174 28.625 23.611 27.313 25.625 25.188 C 25.583 25.146 25.497 25.115 25.365 25.094 C 25.233 25.073 25.146 25.049 25.104 25.021 C 24.854 24.924 24.687 24.868 24.604 24.854 C 24.618 24.757 24.601 24.667 24.552 24.583 C 24.503 24.5 24.448 24.437 24.385 24.396 C 24.323 24.354 24.236 24.299 24.125 24.229 C 24.014 24.16 23.938 24.111 23.896 24.083 C 23.868 24.056 23.819 24.014 23.75 23.958 C 23.681 23.903 23.632 23.865 23.604 23.844 C 23.576 23.823 23.524 23.792 23.448 23.75 C 23.372 23.708 23.313 23.694 23.271 23.708 C 23.229 23.722 23.16 23.729 23.062 23.729 L 23 23.75 C 22.958 23.764 22.92 23.781 22.885 23.802 C 22.851 23.823 22.812 23.844 22.771 23.865 C 22.729 23.885 22.701 23.906 22.687 23.927 C 22.674 23.948 22.674 23.965 22.687 23.979 C 22.396 23.743 22.146 23.59 21.938 23.521 C 21.868 23.507 21.792 23.469 21.708 23.406 C 21.625 23.344 21.552 23.295 21.49 23.26 C 21.427 23.226 21.358 23.215 21.281 23.229 C 21.205 23.243 21.125 23.292 21.042 23.375 C 20.972 23.444 20.931 23.549 20.917 23.687 C 20.903 23.826 20.889 23.917 20.875 23.958 C 20.778 23.889 20.778 23.767 20.875 23.594 C 20.972 23.42 20.986 23.292 20.917 23.208 C 20.875 23.125 20.802 23.094 20.698 23.115 C 20.594 23.135 20.51 23.167 20.448 23.208 C 20.385 23.25 20.306 23.309 20.208 23.385 C 20.111 23.462 20.049 23.507 20.021 23.521 C 19.993 23.535 19.934 23.573 19.844 23.635 C 19.754 23.698 19.694 23.75 19.667 23.792 C 19.625 23.847 19.583 23.931 19.542 24.042 C 19.5 24.153 19.465 24.229 19.437 24.271 C 19.41 24.215 19.33 24.17 19.198 24.135 C 19.066 24.101 19 24.062 19 24.021 C 19.028 24.16 19.056 24.403 19.083 24.75 C 19.111 25.097 19.146 25.361 19.188 25.542 C 19.285 25.972 19.201 26.306 18.938 26.542 C 18.563 26.889 18.361 27.167 18.333 27.375 C 18.278 27.681 18.361 27.861 18.583 27.917 C 18.583 28.014 18.528 28.156 18.417 28.344 C 18.306 28.531 18.257 28.681 18.271 28.792 C 18.271 28.875 18.285 28.986 18.313 29.125 Z\" fill=\"orange\"/>\n        </symbol>\n        <!-- Add more symbols as needed -->\n    </svg>\n    <div class=\"header\">\n        <div class=\"logo-container\">\n            <svg id=\"logo\" viewBox=\"0 0 128 53\" fill=\"#fff\" height=\"100%\">\n                <title>Link to Murrelektronik homepage</title>\n                <g fill=\"none\">\n                    <g fill=\"#fff\">\n                        <g transform=\"translate(-85 -411)translate(85 411)\">\n                            <polygon\n                                points=\"22.4 3.6 16.9 18.4 11.5 3.6 5.8 18.8 0 18.8 0 0.1 34.1 0.1 34.1 18.8 28.1 18.8\">\n                            </polygon>\n                            <polygon\n                                points=\"22.4 17.4 16.9 32.2 11.4 17.4 9.1 23.6 0 23.6 0 33.6 34.1 33.6 34.1 23.6 24.7 23.6\">\n                            </polygon>\n                            <g transform=\"translate(38.913001 23.378753)\">\n                                <polygon\n                                    points=\"0.1 0.2 5.4 0.2 5.4 2.6 3 2.6 3 4 5.2 4 5.2 6.4 3 6.4 3 8 5.4 8 5.4 10.3 0.1 10.3 0.1 0.2\">\n                                </polygon>\n                                <polygon points=\"7.4 10.3 7.4 0.2 10.2 0.2 10.2 8 12.3 8 12.3 10.3 7.4 10.3\">\n                                </polygon>\n                                <polygon\n                                    points=\"13.8 0.2 19.1 0.2 19.1 2.6 16.6 2.6 16.6 4 18.8 4 18.8 6.4 16.6 6.4 16.6 8 19.1 8 19.1 10.3 13.8 10.3\">\n                                </polygon>\n                                <polygon\n                                    points=\"25.7 10.3 23.9 5.7 23.9 5.7 23.9 5.7 23.9 10.3 21 10.3 21 0.2 23.9 0.2 23.9 4.5 23.9 4.5 23.9 4.5 23.8 4.6 23.8 4.5 23.9 4.5 25.4 0.2 28.4 0.2 26.2 5.1 28.7 10.3\">\n                                </polygon>\n                                <polygon points=\"31.2 10.3 31.2 2.7 29.6 2.7 29.6 0.2 35.7 0.2 35.7 2.7 34 2.7 34 10.3\">\n                                </polygon>\n                                <path\n                                    d=\"M41.5 10.3L39.9 6.1 39.9 6.2C39.9 6.7 39.9 7.2 39.9 7.6L39.9 10.3 37.1 10.3 37.1 0.2 39.9 0.2C42.3 0.2 44.1 0.9 44.1 3.6 44.1 4.7 43.6 5.7 42.5 6.1L44.6 10.3 41.5 10.3 41.5 10.3ZM40.1 4.9C40.9 4.9 41.3 4.3 41.3 3.6 41.3 2.7 40.7 2.4 39.9 2.4L39.9 4.9 40.1 4.9 40.1 4.9Z\">\n                                </path>\n                                <path\n                                    d=\"M49.5 0C52.4 0 53.5 2.8 53.5 5.3 53.5 7.8 52.4 10.5 49.5 10.5 46.6 10.5 45.5 7.8 45.5 5.3 45.5 2.8 46.6 0 49.5 0L49.5 0ZM49.5 8C50.6 8 50.6 5.9 50.6 5.3 50.6 4.7 50.6 2.6 49.5 2.6 48.4 2.6 48.4 4.7 48.4 5.3 48.4 5.9 48.4 8 49.5 8L49.5 8Z\">\n                                </path>\n                                <path\n                                    d=\"M55.2 0.2L57.9 0.2 60.2 6.3 60.2 6.3C60.1 5.1 59.9 4 59.9 2.8L59.9 0.2 62.6 0.2 62.6 10.3 59.9 10.3 57.7 4.5 57.7 4.5C57.8 5.5 57.9 6.4 57.9 7.4L57.9 10.3 55.2 10.3 55.2 0.2 55.2 0.2Z\">\n                                </path>\n                                <polygon points=\"64.6 10.3 64.6 0.2 67.4 0.2 67.4 10.3\">\n                                </polygon>\n                                <polygon\n                                    points=\"74 10.3 72.2 5.7 72.2 5.7 72.2 5.7 72.2 10.3 69.4 10.3 69.4 0.2 72.2 0.2 72.2 4.5 72.2 4.5 72.2 4.5 72.2 4.6 72.2 4.5 72.2 4.5 73.8 0.2 76.8 0.2 74.5 5.1 77.1 10.3\">\n                                </polygon>\n                            </g>\n                            <g transform=\"translate(39.038123 0)\">\n                                <path\n                                    d=\"M22.3 15.4L22.2 0.1 27.3 0.1 27.3 12.6C27.3 13.7 28.3 14.6 29.3 14.6L31 14.6C32 14.6 33 13.8 33 12.6L33 0.1 38 0.1 38 15.4C38 17.3 36.3 18.7 34.6 18.8L25.7 18.8C24 18.7 22.4 17.3 22.3 15.4Z\">\n                                </path>\n                                <polygon\n                                    points=\"0.1 18.8 0 0.1 5.3 0.1 9.8 11 14.3 0.1 19.6 0.1 19.6 18.8 14.3 18.8 14.3 10.9 10.7 18.8 8.9 18.8 5.3 11 5.3 18.8\">\n                                </polygon>\n                                <path\n                                    d=\"M64.9 4.6L64.9 8.6 68.3 8.6C69.5 8.6 70.6 7.8 70.6 6.6 70.6 5.4 69.5 4.6 68.3 4.6L64.9 4.6 64.9 4.6ZM59.8 18.8L59.8 0.1 71.7 0.1C74.4 0.2 75.6 2.1 75.8 4.1L75.8 7.4C75.7 9.6 73.5 10.6 73.5 10.6 73.5 10.6 75.5 11.3 75.8 13.9 76.2 16.5 76.3 17.5 76.3 17.5 76.5 18.2 77 18.8 77 18.8L71.8 18.8C71.8 18.8 71.2 17.9 71 16.1 70.7 14.3 69.9 13.5 69.7 13.4 69.5 13.2 69.1 12.8 67.6 12.8L64.9 12.8 64.9 18.8 59.8 18.8 59.8 18.8Z\">\n                                </path>\n                                <path\n                                    d=\"M45.8 4.6L45.8 8.6 49.2 8.6C50.4 8.6 51.5 7.8 51.5 6.6 51.5 5.4 50.4 4.6 49.2 4.6L45.8 4.6 45.8 4.6ZM40.7 18.8L40.7 0.1 52.6 0.1C55.3 0.2 56.5 2.1 56.7 4.1L56.7 7.4C56.6 9.6 54.4 10.6 54.4 10.6 54.4 10.6 56.4 11.3 56.7 13.9 57.1 16.5 57.2 17.5 57.2 17.5 57.4 18.2 57.9 18.8 57.9 18.8L52.7 18.8C52.7 18.8 52.1 17.9 51.8 16.1 51.6 14.3 50.8 13.5 50.6 13.4 50.4 13.2 50 12.8 48.5 12.8L45.8 12.8 45.8 18.8 40.7 18.8 40.7 18.8Z\">\n                                </path>\n                            </g>\n                            <path\n                                d=\"M60.3 45.5C60 45.4 59.7 45.4 59.4 45.4 58.7 45.4 58.3 45.7 58.3 46.2 58.3 47 60 47.3 60 48.5 60 49.4 59.2 50.3 57.6 50.3 57.2 50.3 56.9 50.3 56.6 50.2L56.8 49.3C57.1 49.4 57.4 49.5 57.7 49.5 58.5 49.5 59 49.2 59 48.6 59 47.7 57.3 47.6 57.3 46.3 57.3 45.3 58 44.6 59.5 44.6 59.9 44.6 60.2 44.6 60.4 44.7L60.3 45.5 60.3 45.5Z\">\n                            </path>\n                            <path\n                                d=\"M64.8 45.5L63.3 45.5 62.8 48.4C62.6 49.2 62.7 49.4 63.3 49.4 63.6 49.4 63.8 49.4 64.1 49.3L64 50.2C63.7 50.2 63.3 50.3 62.9 50.3 61.8 50.3 61.5 49.8 61.7 48.5L62.3 45.5 61.2 45.5 61.4 44.7 62.5 44.7 62.8 42.9 63.9 42.7 63.5 44.7 65 44.7 64.8 45.5 64.8 45.5Z\">\n                            </path>\n                            <path\n                                d=\"M69.5 50.2L68.5 50.2C68.6 49.7 68.8 49 69.2 48L69.1 48C68.7 48.8 67.9 50.3 66.5 50.3 65.7 50.3 65.3 49.8 65.3 48.6 65.3 46.6 66.3 44.6 68.8 44.6 69.4 44.6 70 44.7 70.5 44.8 69.9 47.9 69.7 48.9 69.5 50.2L69.5 50.2ZM68.6 45.4C66.9 45.4 66.3 47.1 66.3 48.5 66.3 49.2 66.5 49.5 66.9 49.5 67.9 49.5 69.1 47.3 69.3 45.9L69.4 45.5C69.2 45.5 68.9 45.4 68.6 45.4L68.6 45.4Z\">\n                            </path>\n                            <path\n                                d=\"M72.4 52C71.7 52.7 71 53 70.3 53 70 53 69.8 53 69.5 52.9L69.7 52C69.9 52.1 70.2 52.1 70.4 52.1 70.8 52.1 71.3 51.9 71.7 51.5 72.1 51 72.3 50.5 72.3 49.8 72.3 48.3 72 46.5 71.5 44.7L72.6 44.7C73 46.1 73.2 47.8 73.2 49 73.2 49.2 73.2 49.5 73.1 49.7L73.2 49.7C74 48.2 74.8 46.6 75.7 44.5L76.6 44.8C75.2 48.2 73.7 50.6 72.4 52L72.4 52Z\">\n                            </path>\n                            <path\n                                d=\"M83.4 45.7C83.1 45.5 82.8 45.4 82.4 45.4 81 45.4 80.3 47 80.3 48.3 80.3 48.8 80.5 49.4 81.5 49.4 81.9 49.4 82.4 49.3 82.7 49.1L82.7 50C82.3 50.2 81.8 50.3 81.2 50.3 79.7 50.3 79.2 49.5 79.2 48.5 79.2 46.4 80.4 44.6 82.5 44.6 82.9 44.6 83.3 44.7 83.6 44.8L83.4 45.7 83.4 45.7Z\">\n                            </path>\n                            <path\n                                d=\"M85.8 50.3C84.4 50.3 83.7 49.6 83.7 48.3 83.7 46.2 85.2 44.6 87 44.6 88.5 44.6 89.1 45.4 89.1 46.6 89.1 48.8 87.5 50.3 85.8 50.3L85.8 50.3ZM86.8 45.5C85.6 45.5 84.8 46.8 84.8 48.2 84.8 49 85.1 49.4 86 49.4 87.1 49.4 88 48.3 88 46.7 88 45.9 87.6 45.5 86.8 45.5L86.8 45.5Z\">\n                            </path>\n                            <path\n                                d=\"M94.3 50.2L93.3 50.2 94 46.7C94.2 45.8 94 45.5 93.5 45.5 92.5 45.5 91.3 47.6 91.1 49L90.8 50.2 89.8 50.2 90.4 47.3C90.5 46.5 90.7 45.5 90.9 44.7L91.9 44.7C91.8 45.1 91.6 45.7 91.2 46.9L91.3 46.9C91.8 45.7 92.7 44.6 93.9 44.6 94.9 44.6 95.2 45.3 95 46.5L94.3 50.2 94.3 50.2Z\">\n                            </path>\n                            <path\n                                d=\"M100.6 50.2L99.7 50.2 100.3 46.7C100.5 45.8 100.4 45.5 99.8 45.5 98.8 45.5 97.7 47.6 97.4 49L97.2 50.2 96.2 50.2 96.7 47.3C96.9 46.5 97.1 45.5 97.2 44.7L98.2 44.7C98.1 45.1 98 45.7 97.6 46.9L97.6 46.9C98.1 45.7 99 44.6 100.2 44.6 101.2 44.6 101.6 45.3 101.4 46.5L100.6 50.2 100.6 50.2Z\">\n                            </path>\n                            <path\n                                d=\"M103.6 47.8C103.6 47.9 103.5 48.2 103.5 48.4 103.5 49.3 103.8 49.5 104.7 49.5 105.3 49.5 105.8 49.4 106.3 49.2L106.3 50C105.8 50.2 105.1 50.3 104.4 50.3 103.1 50.3 102.5 49.8 102.5 48.5 102.5 46.4 103.7 44.6 105.6 44.6 106.8 44.6 107.2 45.2 107.2 45.9 107.2 47 106 47.7 103.6 47.8L103.6 47.8ZM105.5 45.4C104.6 45.4 104 46.1 103.7 47.1 105.5 47 106.2 46.6 106.2 46 106.2 45.6 105.9 45.4 105.5 45.4L105.5 45.4Z\">\n                            </path>\n                            <path\n                                d=\"M112 45.7C111.7 45.5 111.4 45.4 111 45.4 109.6 45.4 108.9 47 108.9 48.3 108.9 48.8 109.1 49.4 110.1 49.4 110.5 49.4 111 49.3 111.4 49.1L111.3 50C110.9 50.2 110.4 50.3 109.8 50.3 108.4 50.3 107.9 49.5 107.9 48.5 107.9 46.4 109.1 44.6 111.1 44.6 111.5 44.6 111.9 44.7 112.3 44.8L112 45.7 112 45.7Z\">\n                            </path>\n                            <path\n                                d=\"M116.3 45.5L114.8 45.5 114.2 48.4C114.1 49.2 114.2 49.4 114.7 49.4 115 49.4 115.3 49.4 115.5 49.3L115.4 50.2C115.1 50.2 114.7 50.3 114.4 50.3 113.2 50.3 113 49.8 113.2 48.5L113.8 45.5 112.6 45.5 112.8 44.7 113.9 44.7 114.3 42.9 115.3 42.7 114.9 44.7 116.5 44.7 116.3 45.5 116.3 45.5Z\">\n                            </path>\n                            <path\n                                d=\"M117.8 47.8C117.8 47.9 117.8 48.2 117.8 48.4 117.8 49.3 118.1 49.5 119 49.5 119.5 49.5 120.1 49.4 120.6 49.2L120.6 50C120 50.2 119.4 50.3 118.6 50.3 117.3 50.3 116.8 49.8 116.8 48.5 116.8 46.4 118 44.6 119.8 44.6 121 44.6 121.5 45.2 121.5 45.9 121.5 47 120.2 47.7 117.8 47.8L117.8 47.8ZM119.7 45.4C118.8 45.4 118.2 46.1 118 47.1 119.7 47 120.5 46.6 120.5 46 120.5 45.6 120.2 45.4 119.7 45.4L119.7 45.4Z\">\n                            </path>\n                            <path\n                                d=\"M126.7 48.2C126.6 49 126.4 49.7 126.3 50.2L125.3 50.2C125.4 49.7 125.6 49 126 48L126 48C125.6 48.8 124.7 50.3 123.3 50.3 122.5 50.3 122.1 49.8 122.1 48.6 122.1 46.6 123.2 44.6 125.6 44.6 125.9 44.6 126.1 44.6 126.4 44.7L126.9 42.1 127.9 42.1 126.7 48.2 126.7 48.2ZM125.4 45.4C123.8 45.4 123.1 47.1 123.1 48.5 123.1 49.2 123.3 49.5 123.7 49.5 124.8 49.5 125.9 47.3 126.2 45.9L126.2 45.5C126 45.5 125.8 45.4 125.4 45.4L125.4 45.4Z\">\n                            </path>\n                        </g>\n                    </g>\n                </g>\n            </svg>\n        </div>\n        <div id=\"header-title\">\n            Murrelektronik Node-RED Impact67 Pro Auto Configuration Tool\n        </div>\n        <button class=\"language-button\">\n            <!--<svg><use xlink:href=\"#icn-globe\" transform=\"scale(.5)\"\"></use></svg>-->\n            <span id=\"language-text\">Language</span>\n            <div class=\"language-menu\" id=\"language-menu\">\n                <div class=\"current\" id=\"language-menu-current\">Current: English</div>\n                <div data-lang=\"en\">English <svg class=\"icon\">\n                        <use xlink:href=\"#icn-US\" transform=\"scale(.5)\">\n                        </use>\n                    </svg>\n                </div>\n                <div data-lang=\"de\">Deutsch <svg class=\"icon\">\n                        <use xlink:href=\"#icn-DE\" transform=\"scale(.5)\">\n                        </use>\n                    </svg>\n                </div>\n                <div data-lang=\"it\">Italiano <svg class=\"icon\">\n                        <use xlink:href=\"#icn-IT\" transform=\"scale(.5)\">\n                        </use>\n                    </svg>\n                </div>\n                <div data-lang=\"pt\">Portugus <svg class=\"icon\">\n                        <use xlink:href=\"#icn-PT\" transform=\"scale(.5)\">\n                        </use>\n                    </svg>\n                </div>\n                <div data-lang=\"zh\"> <svg class=\"icon\">\n                        <use xlink:href=\"#icn-ZH\" transform=\"scale(.5)\">\n                        </use>\n                    </svg>\n                </div>\n            </div>\n        </button>\n    </div>\n    <div class=\"nav-menu\">\n        <div class=\"nav-menu-top\">\n            <div class=\"nav-option nav-option-active\" id=\"isdu-auto-config\">ISDU Auto Config</div>\n            <div class=\"nav-option\" id=\"information\">Information</div>\n        </div>\n        <div class=\"nav-menu-bottom\" id=\"nav-menu-bottom\">\n            <!-- Sub-menu items will be dynamically inserted here -->\n        </div>\n    </div>\n    <div class=\"container\">\n        <div class=\"section\" id=\"isdu-auto-config-section\">\n            <div id=\"upload-section\">\n                <table id=\"csv-upload-list\">\n                    <caption id=\"upload-title\">Upload CSV File</caption>\n                    <thead>\n                        <tr>\n                            <th>File</th>\n                            <th>Upload</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <form id=\"uploadForm\" action=\"/upload\" method=\"post\" enctype=\"multipart/form-data\">\n                            <tr>\n                                <td>\n                                    <input type=\"file\" name=\"csvFile\" accept=\".csv\">\n                                </td>\n                                <td>\n                                    <button type=\"submit\">Upload</button>\n                                    <div id=\"spinner\">\n                                        <div>\n                                            <svg width=\"96\" height=\"96\" viewBox=\"0 0 24 24\"\n                                                xmlns=\"http://www.w3.org/2000/svg\">\n                                                <style>\n                                                    .spinner_zWVm {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_PnZo 1.2s linear infinite\n                                                    }\n\n                                                    .spinner_gfyD {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_4j7o 1.2s linear infinite;\n                                                        animation-delay: .1s\n                                                    }\n\n                                                    .spinner_T5JJ {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_fLK4 1.2s linear infinite;\n                                                        animation-delay: .1s\n                                                    }\n\n                                                    .spinner_E3Wz {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_tDji 1.2s linear infinite;\n                                                        animation-delay: .2s\n                                                    }\n\n                                                    .spinner_g2vs {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_CMiT 1.2s linear infinite;\n                                                        animation-delay: .2s\n                                                    }\n\n                                                    .spinner_ctYB {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_cHKR 1.2s linear infinite;\n                                                        animation-delay: .2s\n                                                    }\n\n                                                    .spinner_BDNj {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_Re6e 1.2s linear infinite;\n                                                        animation-delay: .3s\n                                                    }\n\n                                                    .spinner_rCw3 {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_EJmJ 1.2s linear infinite;\n                                                        animation-delay: .3s\n                                                    }\n\n                                                    .spinner_Rszm {\n                                                        animation: spinner_5QiW 1.2s linear infinite, spinner_YJOP 1.2s linear infinite;\n                                                        animation-delay: .4s\n                                                    }\n\n                                                    @keyframes spinner_5QiW {\n\n                                                        0%,\n                                                        50% {\n                                                            width: 7.33px;\n                                                            height: 7.33px\n                                                        }\n\n                                                        25% {\n                                                            width: 1.33px;\n                                                            height: 1.33px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_PnZo {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 1px;\n                                                            y: 1px\n                                                        }\n\n                                                        25% {\n                                                            x: 4px;\n                                                            y: 4px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_4j7o {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 8.33px;\n                                                            y: 1px\n                                                        }\n\n                                                        25% {\n                                                            x: 11.33px;\n                                                            y: 4px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_fLK4 {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 1px;\n                                                            y: 8.33px\n                                                        }\n\n                                                        25% {\n                                                            x: 4px;\n                                                            y: 11.33px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_tDji {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 15.66px;\n                                                            y: 1px\n                                                        }\n\n                                                        25% {\n                                                            x: 18.66px;\n                                                            y: 4px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_CMiT {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 8.33px;\n                                                            y: 8.33px\n                                                        }\n\n                                                        25% {\n                                                            x: 11.33px;\n                                                            y: 11.33px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_cHKR {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 1px;\n                                                            y: 15.66px\n                                                        }\n\n                                                        25% {\n                                                            x: 4px;\n                                                            y: 18.66px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_Re6e {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 15.66px;\n                                                            y: 8.33px\n                                                        }\n\n                                                        25% {\n                                                            x: 18.66px;\n                                                            y: 11.33px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_EJmJ {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 8.33px;\n                                                            y: 15.66px\n                                                        }\n\n                                                        25% {\n                                                            x: 11.33px;\n                                                            y: 18.66px\n                                                        }\n                                                    }\n\n                                                    @keyframes spinner_YJOP {\n\n                                                        0%,\n                                                        50% {\n                                                            x: 15.66px;\n                                                            y: 15.66px\n                                                        }\n\n                                                        25% {\n                                                            x: 18.66px;\n                                                            y: 18.66px\n                                                        }\n                                                    }\n                                                </style>\n                                                <rect class=\"spinner_zWVm\" x=\"1\" y=\"1\" width=\"7.33\" height=\"7.33\" />\n                                                <rect class=\"spinner_gfyD\" x=\"8.33\" y=\"1\" width=\"7.33\" height=\"7.33\" />\n                                                <rect class=\"spinner_T5JJ\" x=\"1\" y=\"8.33\" width=\"7.33\" height=\"7.33\" />\n                                                <rect class=\"spinner_E3Wz\" x=\"15.66\" y=\"1\" width=\"7.33\" height=\"7.33\" />\n                                                <rect class=\"spinner_g2vs\" x=\"8.33\" y=\"8.33\" width=\"7.33\"\n                                                    height=\"7.33\" />\n                                                <rect class=\"spinner_ctYB\" x=\"1\" y=\"15.66\" width=\"7.33\" height=\"7.33\" />\n                                                <rect class=\"spinner_BDNj\" x=\"15.66\" y=\"8.33\" width=\"7.33\"\n                                                    height=\"7.33\" />\n                                                <rect class=\"spinner_rCw3\" x=\"8.33\" y=\"15.66\" width=\"7.33\"\n                                                    height=\"7.33\" />\n                                                <rect class=\"spinner_Rszm\" x=\"15.66\" y=\"15.66\" width=\"7.33\"\n                                                    height=\"7.33\" />\n                                            </svg>\n                                        </div>\n                                        <div>CSV is being analyzed and IO blocks are being communicated to. </div>\n                                    </div>\n                                </td>\n                            </tr>\n                        </form>\n                    </tbody>\n                </table>\n            </div>\n            <div id=\"info-section\" style=\"display: none;\">\n                <h2>Info</h2>\n                <p>Information about ISDU Auto Config.</p>\n            </div>\n            <div id=\"logs-section\" style=\"display: none;\">\n                <table id=\"log-content-table\">\n                    <caption id=\"logs-title\">Log Files</caption>\n                    <thead>\n                        <tr>\n                            <th>Log Files List</th>\n                            <th>CSV Logs</th>\n                            <th>View File</th>\n                            <th>Download File</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td>\n                                <button id=\"loadFiles\">Refresh</button>\n                            </td>\n                            <td>\n                                <select id=\"fileDropdown\">\n                                </select>\n                            </td>\n                            <td>\n                                <button id=\"viewFile\">View</button>\n                            </td>\n                            <td>\n                                <button id=\"downloadFile\">Download</button>\n                            </td>\n                        </tr>\n                    </tbody>\n                </table>\n                <table id=\"log-content-table\">\n                    <caption id=\"logs-title\">Log Content</caption>\n                    <tbody>\n                        <tr>\n                            <td>\n                                <pre id=\"fileContent\">\n    </pre>\n                            </td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <div class=\"section\" id=\"information-section\" style=\"display: none;\">\n            <div id=\"help-section\" style=\"display: none;\">\n                <h2>Help</h2>\n                <p>Help content goes here.</p>\n            </div>\n            <div id=\"about-section\" style=\"display: none;\">\n                <h2>About</h2>\n                <p>About content goes here.</p>\n            </div>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <div class=\"footer-status\">\n            <span>Unit</span>\n        </div>\n        <div class=\"footer-information\">\n            <div class=\"footer-box connection disconnected\">\n            </div>\n            <div class=\"footer-box\">\n                <span class=\"footer-label\">IP Address:</span>\n                <span id=\"footer-IP\" class=\"footer-value\">xxx.xxx.xxx.xxx</span>\n            </div>\n        </div>\n    </div>\n    <script>\n    const translations = {\n            en: {\n                'upload-title': 'Upload CSV File',\n                'upload-button': 'Upload',\n                'log-title': 'Log Files'\n            }\n\n            ,\n            de: {\n                'upload-title': 'CSV-Datei hochladen',\n                'upload-button': 'Hochladen',\n                'log-title': 'Protokolldateien'\n            }\n\n            ,\n            it: {\n                'upload-title': 'Carica file CSV',\n                'upload-button': 'Carica',\n                'log-title': 'File di log'\n            }\n\n            ,\n            pt: {\n                'upload-title': 'Carregar arquivo CSV',\n                'upload-button': 'Carregar',\n                'log-title': 'Arquivos de log'\n            }\n\n            ,\n            zh: {\n                'upload-title': ' CSV ',\n                'upload-button': '',\n                'log-title': ''\n            }\n        }\n\n            ;\n\n        const languages = [\"Language\",\n            \"Sprache\",\n            \"Lingua\",\n            \"Lngua\",\n            \"\"];\n        const languageButton = document.querySelector('.language-button');\n        const languageMenu = document.getElementById('language-menu');\n        const languageText = document.getElementById('language-text');\n        const currentlanguageText = document.getElementById('language-menu-current');\n\n        let currentLanguageIndex =0;\n\n        languageButton.addEventListener('click', () => {\n            languageMenu.style.display = languageMenu.style.display === 'block' ? 'none' : 'block';\n        });\n\n        languageMenu.addEventListener('click', (event) => {\n            if (event.target.tagName === 'DIV') {\n                const selectedLanguage = event.target.getAttribute('data-lang');\n                currentlanguageText.textContent = \"Current: \" + event.target.textContent.trim();\n                languageMenu.style.display = 'none';\n                changeLanguage(selectedLanguage);\n            }\n        });\n\n        function changeLanguage(language) {\n            document.querySelectorAll('[data-translate]').forEach(element => {\n                const key = element.getAttribute('data-translate');\n                element.textContent = translations[language][key];\n            });\n        }\n\n        function updateLanguageText() {\n            currentLanguageIndex = (currentLanguageIndex + 1) % languages.length;\n            languageText.textContent = languages[currentLanguageIndex];\n        }\n\n        setInterval(updateLanguageText, 3000); // Change language every 5 seconds\n\n        document.querySelectorAll('.nav-option').forEach(option => {\n            option.addEventListener('click', () => {\n                document.querySelectorAll('.nav-option').forEach(opt => opt.classList.remove('nav-option-active'));\n                option.classList.add('nav-option-active');\n\n                if (option.id === 'isdu-auto-config') {\n                    document.getElementById('isdu-auto-config-section').style.display = 'block';\n                    document.getElementById('information-section').style.display = 'none';\n                    document.getElementById('nav-menu-bottom').innerHTML = ` <div class=\"nav-option nav-sub-option v-link-active\" >Upload</div> <div class=\"nav-option nav-sub-option\" >Info</div> <div class=\"nav-option nav-sub-option\" >Logs</div> `;\n                    document.getElementById('upload-section').style.display = 'block';\n                    document.getElementById('info-section').style.display = 'none';\n                    document.getElementById('logs-section').style.display = 'none';\n                }\n\n                else if (option.id === 'information') {\n                    document.getElementById('isdu-auto-config-section').style.display = 'none';\n                    document.getElementById('information-section').style.display = 'block';\n                    document.getElementById('nav-menu-bottom').innerHTML = ` <div class=\"nav-option nav-sub-option\" >Help</div> <div class=\"nav-option nav-sub-option\" >About</div> `;\n                    document.getElementById('help-section').style.display = 'block';\n                    document.getElementById('about-section').style.display = 'none';\n                }\n\n                document.querySelectorAll('.nav-sub-option').forEach(subOption => {\n                    subOption.addEventListener('click', () => {\n                        document.querySelectorAll('.nav-sub-option').forEach(subOpt => subOpt.classList.remove('v-link-active'));\n                        subOption.classList.add('v-link-active');\n\n                        if (subOption.textContent.trim() === 'Upload') {\n                            document.getElementById('upload-section').style.display = 'block';\n                            document.getElementById('info-section').style.display = 'none';\n                            document.getElementById('logs-section').style.display = 'none';\n                        }\n\n                        else if (subOption.textContent.trim() === 'Info') {\n                            document.getElementById('upload-section').style.display = 'none';\n                            document.getElementById('info-section').style.display = 'block';\n                            document.getElementById('logs-section').style.display = 'none';\n                        }\n\n                        else if (subOption.textContent.trim() === 'Logs') {\n                            document.getElementById('upload-section').style.display = 'none';\n                            document.getElementById('info-section').style.display = 'none';\n                            document.getElementById('logs-section').style.display = 'block';\n                            fetchLogFiles(); // Automatically update the file list\n                        }\n\n                        else if (subOption.textContent.trim() === 'Help') {\n                            document.getElementById('help-section').style.display = 'block';\n                            document.getElementById('about-section').style.display = 'none';\n                        }\n\n                        else if (subOption.textContent.trim() === 'About') {\n                            document.getElementById('help-section').style.display = 'none';\n                            document.getElementById('about-section').style.display = 'block';\n                        }\n                    });\n                });\n            });\n        });\n\n        // Auto-select ISDU Auto Config - Upload on load\n        document.getElementById('isdu-auto-config').click();\n        document.querySelector('.nav-sub-option.v-link-active').click();\n\n        // Handle form submission and reload page\n        document.getElementById('uploadForm').addEventListener('submit', function (event) {\n            event.preventDefault(); // Prevent the default form submission\n\n            // Disable the input and button\n            const fileInput = document.querySelector('input[name=\"csvFile\"]');\n            const uploadButton = document.querySelector('button[type=\"submit\"]');\n            //fileInput.disabled = true;\n            //uploadButton.disabled = true;\n            fileInput.style.display = 'none';\n            uploadButton.style.display = 'none';\n\n            // Show the spinner\n            const spinner = document.getElementById('spinner');\n            spinner.style.display = 'inline-block';\n\n            var formData = new FormData(this);\n\n            fetch('/upload', {\n                method: 'POST',\n                body: formData\n\n            }).then(response => {\n                if (response.ok) {\n                    window.location.reload(); // Reload the page upon successful submission\n                }\n\n                else {\n                    alert('File upload failed.');\n                    // Re-enable the input and button if upload fails\n                    fileInput.disabled = false;\n                    uploadButton.disabled = false;\n                    spinner.style.display = 'none';\n                }\n\n            }).catch(error => {\n                console.error('Error:', error);\n                alert('An error occurred.');\n                // Re-enable the input and button if an error occurs\n                fileInput.disabled = false;\n                uploadButton.disabled = false;\n                spinner.style.display = 'none';\n            });\n        });\n\n        // New functionality for log files\n        function fetchLogFiles() {\n            fetch('/files').then(response => response.json()).then(data => {\n                const fileDropdown = document.getElementById('fileDropdown');\n                fileDropdown.innerHTML = '';\n\n                if (data && data.length > 0) {\n                    data.forEach(file => {\n                        const option = document.createElement('option');\n                        option.value = file.path;\n                        option.textContent = file.name;\n                        fileDropdown.appendChild(option);\n                    });\n                }\n\n                else {\n                    const option = document.createElement('option');\n                    option.textContent = 'No files found';\n                    fileDropdown.appendChild(option);\n                }\n            }).catch(error => console.error('Error fetching files:', error));\n        }\n\n        document.getElementById('loadFiles').addEventListener('click', fetchLogFiles);\n\ndocument.getElementById('viewFile').addEventListener('click', () => {\n    const selectedFile = document.getElementById('fileDropdown').value;\n    fetch(`/readfile?filename=${encodeURIComponent(selectedFile)}`)\n    .then(response => response.json())\n    .then(data => {\n        const formattedData = JSON.stringify(data, null, 2);\n        document.getElementById('fileContent').textContent = formattedData;\n    })\n    .catch(error => console.error('Error reading file:', error));\n});\n\ndocument.getElementById('downloadFile').addEventListener('click', () => {\n    const selectedFile = document.getElementById('fileDropdown').value;\n    window.location.href = `/download?filename=${encodeURIComponent(selectedFile)}`;\n});\n\n\n\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "http-response-html"
            ]
        ]
    },
    {
        "id": "http-response-html",
        "type": "http response",
        "z": "9a64e81f8c4438a5",
        "g": "e55530813d2d28b7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "18e0af4ed86ee7ed",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1220,
        "wires": [
            [
                "parse-csv",
                "8a4d6a8b69818b28"
            ]
        ]
    },
    {
        "id": "upload-endpoint",
        "type": "http in",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "",
        "url": "/upload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 1070,
        "y": 1220,
        "wires": [
            [
                "18e0af4ed86ee7ed"
            ]
        ]
    },
    {
        "id": "parse-csv",
        "type": "csv",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "Address,name,description",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1430,
        "y": 1220,
        "wires": [
            [
                "cb9a75227c0975ec"
            ]
        ]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1650,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bb85fd4b444cddfe",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "Generate Filename",
        "func": "const now = new Date();\nconst date = now.toISOString().split('T')[0]; // YYYY-MM-DD\nconst time = now.toTimeString().split(' ')[0].replace(/:/g, '-'); // HH-MM-SS\nmsg.filename = `C:/Users/Rafael/Documents/csvs/logs/autoisdu-${date}-${time}.csv`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1360,
        "wires": [
            [
                "2ba164832f9c9a56",
                "376068b20cecfb17"
            ]
        ]
    },
    {
        "id": "2ba164832f9c9a56",
        "type": "file",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "Log Results",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1470,
        "y": 1360,
        "wires": [
            [
                "ba8a5ed4ea7d1d8c",
                "http-response"
            ]
        ]
    },
    {
        "id": "e25ea89c1e4a5667",
        "type": "link out",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "9ce2273916932185"
        ],
        "x": 2015,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9ce2273916932185",
        "type": "link in",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "link in 1",
        "links": [
            "e25ea89c1e4a5667"
        ],
        "x": 1095,
        "y": 1360,
        "wires": [
            [
                "bb85fd4b444cddfe"
            ]
        ]
    },
    {
        "id": "c3a2df649e0e6085",
        "type": "template",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "HTML Form",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>File List</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js\"></script>\n</head>\n<body>\n    <h1>File List</h1>\n    <button id=\"loadFiles\">Load Files</button>\n    <select id=\"fileDropdown\"></select>\n    <button id=\"viewFile\">View File</button>\n    <h2>Log Content</h2>\n    <pre id=\"fileContent\"></pre>\n    <script>\n        $(document).ready(function() {\n            $('#loadFiles').click(function() {\n                $.get('/files', function(data) {\n                    var fileDropdown = $('#fileDropdown');\n                    fileDropdown.empty();\n                    if (data && data.length > 0) {\n                        data.forEach(function(file) {\n                            fileDropdown.append('<option value=\"' + file.path + '\">' + file.name + '</option>');\n                        });\n                    } else {\n                        fileDropdown.append('<option>No files found</option>');\n                    }\n                });\n            });\n\n            $('#viewFile').click(function() {\n                var selectedFile = $('#fileDropdown').val();\n                $.get('/readfile', { filename: selectedFile }, function(data) {\n                    var formattedData = JSON.stringify(JSON.parse(data), null, 2);\n                    $('#fileContent').text(formattedData);\n                });\n            });\n        });\n    </script>\n</body>\n</html>",
        "x": 1490,
        "y": 1720,
        "wires": [
            [
                "c6a650729f6c1480"
            ]
        ]
    },
    {
        "id": "46beb6f818a023c2",
        "type": "http in",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "url": "/files",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1080,
        "y": 1640,
        "wires": [
            [
                "3cbc00018a49aa26",
                "fca44e83f6c708a0"
            ]
        ]
    },
    {
        "id": "11a8f6cde23f2e03",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "Process File List",
        "func": "msg.payload = msg.payload.map(file => {\n    return {\n        name: file.split('/').pop(),\n        path: file.replace(/\\\\/g, '/')\n    };\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1640,
        "wires": [
            [
                "c6a650729f6c1480",
                "1502debd4c1d0f63"
            ]
        ]
    },
    {
        "id": "c6a650729f6c1480",
        "type": "http response",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1790,
        "y": 1660,
        "wires": []
    },
    {
        "id": "093dd7b6e6db1be4",
        "type": "http in",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "url": "/filelisttest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1260,
        "y": 1720,
        "wires": [
            [
                "c3a2df649e0e6085"
            ]
        ]
    },
    {
        "id": "9c0dcc6a1f2726f1",
        "type": "http in",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "url": "/readfile",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1190,
        "y": 1800,
        "wires": [
            [
                "3ea30f7d0e7ddb03"
            ]
        ]
    },
    {
        "id": "d5c30fd492c25ce4",
        "type": "http response",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1490,
        "y": 1800,
        "wires": []
    },
    {
        "id": "3ea30f7d0e7ddb03",
        "type": "file in",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "filename": "payload.filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1340,
        "y": 1800,
        "wires": [
            [
                "d5c30fd492c25ce4"
            ]
        ]
    },
    {
        "id": "43e7c3fd76b7949c",
        "type": "http in",
        "z": "9a64e81f8c4438a5",
        "g": "3fb18b659c7c63cb",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1600,
        "wires": [
            [
                "165ec2aef6b3744d"
            ]
        ]
    },
    {
        "id": "165ec2aef6b3744d",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "3fb18b659c7c63cb",
        "name": "Set File Path",
        "func": "",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1600,
        "wires": [
            [
                "860199189aea9a27",
                "712f7c82a57aeb9f"
            ],
            [
                "fcab298eb4dabbbd"
            ]
        ]
    },
    {
        "id": "860199189aea9a27",
        "type": "file in",
        "z": "9a64e81f8c4438a5",
        "g": "3fb18b659c7c63cb",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 1600,
        "wires": [
            [
                "fcab298eb4dabbbd"
            ]
        ]
    },
    {
        "id": "fcab298eb4dabbbd",
        "type": "http response",
        "z": "9a64e81f8c4438a5",
        "g": "3fb18b659c7c63cb",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "text/csv",
            "Content-Disposition": "attachment; filename={{req.query.filename}}"
        },
        "x": 870,
        "y": 1700,
        "wires": []
    },
    {
        "id": "3cbc00018a49aa26",
        "type": "murr-utils-list-files",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "",
        "directory": "C:\\Users\\Rafael\\Documents\\csvs\\logs",
        "x": 1290,
        "y": 1640,
        "wires": [
            [
                "11a8f6cde23f2e03",
                "68d5fdd40b6cb9a3"
            ]
        ]
    },
    {
        "id": "cb9a75227c0975ec",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8a4d6a8b69818b28",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1160,
        "wires": []
    },
    {
        "id": "376068b20cecfb17",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1440,
        "wires": []
    },
    {
        "id": "68d5fdd40b6cb9a3",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ba8a5ed4ea7d1d8c",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 1440,
        "wires": []
    },
    {
        "id": "fca44e83f6c708a0",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1502debd4c1d0f63",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "22ea7afb790bc2b8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 1600,
        "wires": []
    },
    {
        "id": "712f7c82a57aeb9f",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "3fb18b659c7c63cb",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c419b797d4fe0222",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "debug 52",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "0a5635ad00de2b88",
        "type": "http request",
        "z": "9a64e81f8c4438a5",
        "g": "dcbba05769e022e8",
        "name": "POST /iolink/v1/masters/1/ports/3/configuration",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.6/iolink/v1/masters/1/ports/3/configuration",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4f1921f368563598",
        "type": "inject",
        "z": "9a64e81f8c4438a5",
        "g": "dcbba05769e022e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "7f264cd4bc54651f"
            ]
        ]
    },
    {
        "id": "7f264cd4bc54651f",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "dcbba05769e022e8",
        "name": "function 3",
        "func": "// Function node code to construct the payload (Standard Structure)\n\nmsg.payload = {\n  // 4-Pin Mode: Essential setting for the port (e.g., IO-Link or DIO)\n  \"mode\": \"IOLINK_AUTOSTART\"\n\n \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "0a5635ad00de2b88"
            ]
        ]
    },
    {
        "id": "d67eb8db06de1657",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "debug 2.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 1160,
        "wires": []
    },
    {
        "id": "88c9afc7173b7ec1",
        "type": "murr-iolink-isdu-impact67pro",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "Impact",
        "iolm_ip": "192.168.1.6",
        "x": 1850,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "868c5ed9dcb27920",
        "type": "split",
        "z": "9a64e81f8c4438a5",
        "g": "ccaf1de2c9bc82d5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1650,
        "y": 1220,
        "wires": [
            [
                "e25ea89c1e4a5667",
                "d67eb8db06de1657"
            ]
        ]
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "Format POST Request",
        "func": "// 1. Setup Credentials & Headers\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Authorization\": \"Basic \" + Buffer.from(\"admin:private\").toString('base64'),\n    \"Content-Type\": \"application/json\"\n};\n\n// 2. Access Row Data safely\nlet data = msg.payload.payload || msg.payload;\nif (Array.isArray(data)) data = data[0];\n\n// 3. Robust Key Lookup (Handles leading/trailing spaces and hidden characters)\nfunction getValue(obj, name) {\n    const key = Object.keys(obj).find(k => k.trim().toLowerCase() === name.toLowerCase());\n    return key ? obj[key] : null;\n}\n\nconst ip = getValue(data, \"Address\");\nconst port = getValue(data, \"Port\");\nconst configCol = getValue(data, \"Configuration\");\nconst iqConfigCol = getValue(data, \"iqConfiguration\");\n\n// 4. Validation Check\nif (!ip || !port) {\n    node.error(`Missing Data - Found IP: ${ip}, Port: ${port}. Check CSV Headers for spaces!`, msg);\n    return null;\n}\n\n// 5. Construct URL\nmsg.url = `http://${ip.trim()}/iolink/v1/masters/1/ports/${port}/configuration`;\n\n// 6. Build the JSON Payload Object\nlet body = {};\n\n// Helper to parse \"key:value\" strings\nfunction parseKeyValue(input) {\n    if (input && typeof input === 'string' && input.includes(':')) {\n        let parts = input.split(':');\n        body[parts[0].trim()] = parts[1].trim();\n    }\n}\n\nparseKeyValue(configCol);   // Parses \"mode:IOLINK_AUTOSTART\"\nparseKeyValue(iqConfigCol); // Parses \"iqConfiguration:DIGITAL_OUTPUT\"\n\nmsg.payload = body;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "0a767af8d8e0f684",
                "e3456789.b12345"
            ]
        ]
    },
    {
        "id": "c1234567.a89012",
        "type": "csv",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "Address, Name, Port,Configuration,iqConfiguration",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 810,
        "y": 580,
        "wires": [
            [
                "4240cd32885ee02d",
                "f6f2187d.f17ca8"
            ]
        ]
    },
    {
        "id": "e3456789.b12345",
        "type": "http request",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "POST Configuration",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1320,
        "y": 580,
        "wires": [
            [
                "d4567890.c12345"
            ]
        ]
    },
    {
        "id": "b0123456.901234",
        "type": "inject",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "Run CSV Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "c419b797d4fe0222",
                "a928ef2200c759e8"
            ]
        ]
    },
    {
        "id": "d4567890.c12345",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1570,
        "y": 580,
        "wires": []
    },
    {
        "id": "4240cd32885ee02d",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "0a767af8d8e0f684",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "debug 55",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 520,
        "wires": []
    },
    {
        "id": "a928ef2200c759e8",
        "type": "file in",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "Directory",
        "filename": "C:\\Users\\Rafael\\Downloads\\Switch_PortConfig.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "c1234567.a89012"
            ]
        ]
    },
    {
        "id": "2af437e7d59d454e",
        "type": "comment",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "Note: Port Configuration",
        "info": "Configure all ports with a CSV file \n\nmode:(IOLINK_AUTOSTART, DIGITAL_OUTPUT, DIGITAL_INPUT)\n\nFile structure: \n\nAddress,Name,Port,Configuration\n192.168.1.6,Impact67_P,1,mode:IOLINK_AUTOSTART\n192.168.1.6,Impact67_P,2,mode:DIGITAL_OUTPUT\n192.168.1.6,Impact67_P,3,mode:DIGITAL_INPUT\n192.168.1.6,Impact67_P,4,mode:IOLINK_AUTOSTART\n192.168.1.6,Impact67_P,5,mode:IOLINK_AUTOSTART\n192.168.1.6,Impact67_P,6,mode:IOLINK_AUTOSTART\n192.168.1.6,Impact67_P,7,mode:IOLINK_AUTOSTART\n192.168.1.6,Impact67_P,8,mode:IOLINK_AUTOSTART",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "26246557baba8815",
        "type": "comment",
        "z": "9a64e81f8c4438a5",
        "g": "dcbba05769e022e8",
        "name": "Test ",
        "info": "Initial attempted using normal function",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "2209a8dd57ea3cec",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "debug 57",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 900,
        "wires": []
    },
    {
        "id": "afccb7d097f948a1",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Format POST Request",
        "func": "// 1. Credentials\nconst user = \"admin\";\nconst pass = \"private\";\n\n// 2. Set Headers\nmsg.method = \"POST\";\nmsg.headers = {};\nconst authToken = Buffer.from(user + \":\" + pass).toString('base64');\nmsg.headers[\"Authorization\"] = \"Basic \" + authToken;\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n// 3. Handle CSV Data (Check if msg.payload is an array or object)\nlet data = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\n// 4. Extract IP and Port (using exact column names from your debug: Address and Port)\nconst ip = data.Address || \"192.168.1.6\"; // Fallback to test IP if undefined\nconst portNumber = data.Port || 3;\n\nmsg.url = `http://${ip}/iolink/v1/masters/1/ports/${portNumber}/configuration`;\n\n// 5. Prepare Payload\n// Your debug shows the column is named 'Configuration'\nlet description = data.Configuration || data.Description;\n\nif (typeof description === 'string') {\n    let cleanDesc = description.trim();\n\n    // Ensure keys and values have double quotes for valid JSON\n    // If the input is mode:DigitalOutput, this fixes it to \"mode\":\"DigitalOutput\"\n    if (!cleanDesc.includes('\"')) {\n        cleanDesc = cleanDesc.replace(/([^:]+):([^,]+)/g, '\"$1\":\"$2\"');\n    }\n\n    if (!cleanDesc.startsWith('{')) {\n        cleanDesc = '{' + cleanDesc + '}';\n    }\n\n    try {\n        msg.payload = JSON.parse(cleanDesc);\n    } catch (e) {\n        msg.payload = cleanDesc; // Fallback to string if parsing still fails\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 960,
        "wires": [
            [
                "39dbbf06e3e315e5",
                "e69093ef00b5f3a1"
            ]
        ]
    },
    {
        "id": "df307fe6126cac77",
        "type": "csv",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "Address, Name, Description",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 830,
        "y": 960,
        "wires": [
            [
                "9231c3b56aa2400a"
            ]
        ]
    },
    {
        "id": "e69093ef00b5f3a1",
        "type": "http request",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "POST Configuration",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1360,
        "y": 960,
        "wires": [
            [
                "62f3679ba144ce48"
            ]
        ]
    },
    {
        "id": "62ccd06bd21171e6",
        "type": "inject",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Run CSV Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 960,
        "wires": [
            [
                "2209a8dd57ea3cec",
                "632e481198d7f6b3"
            ]
        ]
    },
    {
        "id": "62f3679ba144ce48",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Response",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1570,
        "y": 960,
        "wires": []
    },
    {
        "id": "9231c3b56aa2400a",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 900,
        "wires": []
    },
    {
        "id": "39dbbf06e3e315e5",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 900,
        "wires": []
    },
    {
        "id": "632e481198d7f6b3",
        "type": "file in",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Directory",
        "filename": "C:\\Users\\Rafael\\Downloads\\Switch_Config.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 960,
        "wires": [
            [
                "df307fe6126cac77"
            ]
        ]
    },
    {
        "id": "b866c6987b0323bd",
        "type": "comment",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Notes: IO-Link Device Configuration ",
        "info": "Configure IO-Link devices with a CSV file \n\n\n\n\nmode:(IOLINK_AUTOSTART, DIGITAL_OUTPUT, DIGITAL_INPUT)\n\nFile structure: \n\nAddress,Name,Port,Configuration\n192.168.1.6,Impact67_P,1,mode:IOLINK_AUTOSTART\n",
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "6f4b1590faa4e3c0",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "name": "Format POST Request",
        "func": "// 1. Credentials\nconst user = \"admin\";\nconst pass = \"private\";\n\n// 2. Set Headers\nmsg.method = \"POST\";\nmsg.headers = {};\nconst authToken = Buffer.from(user + \":\" + pass).toString('base64');\nmsg.headers[\"Authorization\"] = \"Basic \" + authToken;\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n// 3. Handle CSV Data (Check if msg.payload is an array or object)\n\n//let data = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\n// --- FIX STARTS HERE ---\n// Access the inner payload where the Address and Port actually live\nlet data = msg.payload.payload || msg.payload;\n\n// If data is still an array, grab the first item\nif (Array.isArray(data)) {\n    data = data[0];\n}\n// --- FIX ENDS HERE ---\n\n\n\n\n// 4. Extract IP and Port (using exact column names from your debug: Address and Port)\nconst ip = data.Address; // Fallback to test IP if undefined\nconst portNumber = data.Port;\n\nmsg.url = `http://${ip}/iolink/v1/masters/1/ports/${portNumber}/configuration`;\n\n// 5. Prepare Payload\n// Your debug shows the column is named 'Configuration'\nlet description = data.Configuration || data.Description;\n\nif (typeof description === 'string') {\n    let cleanDesc = description.trim();\n\n    // Ensure keys and values have double quotes for valid JSON\n    // If the input is mode:DigitalOutput, this fixes it to \"mode\":\"DigitalOutput\"\n    if (!cleanDesc.includes('\"')) {\n        cleanDesc = cleanDesc.replace(/([^:]+):([^,]+)/g, '\"$1\":\"$2\"');\n    }\n\n    if (!cleanDesc.startsWith('{')) {\n        cleanDesc = '{' + cleanDesc + '}';\n    }\n\n    try {\n        msg.payload = JSON.parse(cleanDesc);\n    } catch (e) {\n        msg.payload = cleanDesc; // Fallback to string if parsing still fails\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2540,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a39f79488f9d64c4",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "name": "Format POST Request",
        "func": "// Access the row data\nlet data = msg.payload.payload || msg.payload;\nif (Array.isArray(data)) data = data[0];\n\n// 1. Setup URL using CSV columns\nconst ip = data.Address;\nconst port = data.Port;\nmsg.url = `http://${ip}/iolink/v1/masters/1/ports/${port}/configuration`;\n\n// 2. Setup Headers & Auth\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Authorization\": \"Basic \" + Buffer.from(\"admin:private\").toString('base64'),\n    \"Content-Type\": \"application/json\"\n};\n\n// 3. Prepare Payload\nlet config = data.Configuration.trim();\n\n// Ensure it has curly braces\nif (!config.startsWith('{')) config = '{' + config + '}';\n\ntry {\n    msg.payload = JSON.parse(config);\n} catch (e) {\n    // If it's already an object or raw string, pass it through\n    msg.payload = config;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4203d514395b050f",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "name": "Format POST Request",
        "func": "// 1. Data Access & Cleanup\n// This line handles objects, nested objects, or arrays automatically\nlet data = msg.payload.payload || msg.payload;\nif (Array.isArray(data)) data = data[0];\n\n// IMPORTANT: CSV columns often import with a leading space (e.g., \" Name\" instead of \"Name\")\n// This helper function finds the key even if there are spaces or case differences\nconst getVal = (obj, keyName) => {\n    const foundKey = Object.keys(obj).find(k => k.trim().toLowerCase() === keyName.toLowerCase());\n    return foundKey ? obj[foundKey] : undefined;\n};\n\nconst ip = getVal(data, \"Address\");\nconst port = getVal(data, \"Port\");\nconst rawConfig = getVal(data, \"Pin4_Config\");\nconst raw2Config = getVal(data, \"Pin2_Config\");\n\n// 2. Validation\nif (!ip || !port) {\n    node.error(\"Missing IP or Port. Check CSV headers!\", msg);\n    return null;\n}\n\n// 3. Setup Request\nmsg.url = `http://${ip.trim()}/iolink/v1/masters/1/ports/${port}/configuration`;\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Authorization\": \"Basic \" + Buffer.from(\"admin:private\").toString('base64'),\n    \"Content-Type\": \"application/json\"\n};\n\n// 4. Format Configuration Payload\nlet config = rawConfig ? rawConfig.trim() : \"\";\nlet config2 = raw2Config ? raw2Config.trim() : \"\";\n\n\n\n// Auto-fix \"mode:VALUE\" to '{\"mode\":\"VALUE\"}'\nif (!config.startsWith('{')) {\n    if (config.includes(':')) {\n        let parts = config.split(':');\n        msg.payload = { [parts[0].trim()]: parts[1].trim() };\n    } else {\n        msg.payload = config;\n    }\n} else {\n    try {\n        msg.payload = JSON.parse(config);\n    } catch (e) {\n        msg.payload = config;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "aeb74f5f37fd56c3",
        "type": "function",
        "z": "9a64e81f8c4438a5",
        "name": "Format POST Request",
        "func": "// 1. Setup Credentials & Headers\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Authorization\": \"Basic \" + Buffer.from(\"admin:private\").toString('base64'),\n    \"Content-Type\": \"application/json\"\n};\n\n// 2. Access Row Data (Handles nesting from File/CSV nodes)\nlet data = msg.payload.payload || msg.payload;\nif (Array.isArray(data)) data = data[0];\n\n// 3. Extract URL Components\n// We use .trim() to prevent \"undefined\" or \"ENOTFOUND\" errors caused by hidden spaces\nconst ip = data.Address ? data.Address.trim() : null;\nconst port = data.Port;\n\nif (!ip || !port) {\n    node.error(\"Address or Port missing in CSV row\", msg);\n    return null;\n}\n\nmsg.url = `http://${ip}/iolink/v1/masters/1/ports/${port}/configuration`;\n\n// 4. Parse the Key:Value strings into a JSON Object\nlet body = {};\n\n// Helper function to split \"key:value\" strings\nfunction parseKeyValue(input) {\n    if (input && typeof input === 'string' && input.includes(':')) {\n        let parts = input.split(':');\n        let key = parts[0].trim();\n        let value = parts[1].trim();\n        body[key] = value;\n    }\n}\n\n// Process both columns from your CSV\nparseKeyValue(data.Configuration);   // Parses \"mode:IOLINK_AUTOSTART\"\nparseKeyValue(data.iqConfiguration); // Parses \"iqconfiguration:DIGITAL_OUTPUT\"\n\n// 5. Final Payload\nmsg.payload = body;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "db0b0a552c4f0dda",
        "type": "get-portconfig",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "get-portconfig",
        "ip": "192.168.1.10",
        "port": "2",
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "aeb5a3e58b59df9e"
            ]
        ]
    },
    {
        "id": "3914e7e5cbeb3bc3",
        "type": "get-portstatus",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "get-portstatus",
        "ip": "192.168.1.10",
        "port": "2",
        "x": 1120,
        "y": 460,
        "wires": [
            [
                "5a1ede64ae3d0979"
            ]
        ]
    },
    {
        "id": "aeb5a3e58b59df9e",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 400,
        "wires": []
    },
    {
        "id": "33784200fcd9927a",
        "type": "inject",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "Request Port Info",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 400,
        "wires": [
            [
                "db0b0a552c4f0dda",
                "3914e7e5cbeb3bc3",
                "d37bf798d21c7591"
            ]
        ]
    },
    {
        "id": "5a1ede64ae3d0979",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "cc9ee19d11d62d88",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Parameter Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 760,
        "wires": []
    },
    {
        "id": "bbbc621ebd0c8b85",
        "type": "inject",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Request Port Info",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 780,
        "wires": [
            [
                "f2366e71dd91677d",
                "d231c23a72b32e2b"
            ]
        ]
    },
    {
        "id": "dad67698f74121ae",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "Process Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 820,
        "wires": []
    },
    {
        "id": "f2366e71dd91677d",
        "type": "get-processdata",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "get-processdata",
        "ip": "192.168.1.10",
        "devicealias": "master1port5",
        "x": 1100,
        "y": 820,
        "wires": [
            [
                "dad67698f74121ae"
            ]
        ]
    },
    {
        "id": "d231c23a72b32e2b",
        "type": "get-parameterdata",
        "z": "9a64e81f8c4438a5",
        "g": "be0e9db00ca7d030",
        "name": "get-parameterdata",
        "ip": "192.168.1.10",
        "devicealias": "master1port5",
        "index": 16,
        "subindex": 0,
        "x": 1110,
        "y": 760,
        "wires": [
            [
                "cc9ee19d11d62d88"
            ]
        ]
    },
    {
        "id": "d37bf798d21c7591",
        "type": "get-deviceidentification",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "get-deviceidentification",
        "ip": "192.168.1.10",
        "devicealias": "master1port5",
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "1c05ecc1bcf77b73"
            ]
        ]
    },
    {
        "id": "1c05ecc1bcf77b73",
        "type": "debug",
        "z": "9a64e81f8c4438a5",
        "g": "1474efc58349dee3",
        "name": "debug 63",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 340,
        "wires": []
    },
    {
        "id": "bef0119077e651c3",
        "type": "write-processdata",
        "z": "9a64e81f8c4438a5",
        "name": "write-processdata",
        "ip": "",
        "user": "",
        "password": "",
        "devicealias": "",
        "processData": "[]",
        "valuePin2": "false",
        "noIq": false,
        "x": 610,
        "y": 1140,
        "wires": [
            []
        ]
    }
]